<style>
	.customermanagement_navbar div{
		border-left:1px solid #F0F0F0;
		padding: 9px 0;
		display:flex;
		justify-content: center;
        font-size: 15px;
	}
	
	.weui_search_bar {
    	padding: 6px 6px;
	}
	
	.weui_search_outer:after {
	    border: 0px solid #e6e6ea;
	}
	
	.weui_search_outer:after {
   
    	border-radius: 0px;
   
	}
	
	a:active{
		text-decoration:underline;
	}

	.weui_cell:active{
		background-color:#ececec
	}
	
</style>
<div style="position: fixed;height:45px;z-index:100;width:100%;">
	<div class="weui_navbar customermanagement_navbar" style="margin-left:-1px;height:45px;">
		<div class="weui_navbar_item" ng-click="toHref('ActingCustomerManagement')">
	                    客户管理
		</div>
		<div class="weui_navbar_item" ng-click="toHref('ActingCustomerManagement/commissionRecord')">
	                    提成记录
		</div>
		<div class="weui_navbar_item" ng-click="toHref('ActingCustomerManagement/tradingRecord')">
	                    交易记录
		</div>
		<div class="weui_navbar_item tab-blue">
	                    代理信息
		</div>
	</div>
</div>

<div style="position:absolute;top:44px;width:100%;">
	<div class="weui_cells dcxt_weui_cells" style="margin-top:0;" ng-cloak>
		
		
		<div class="weui_cell">
			<div class="weui_cell_hd">
					<label class="weui_label label tablessetting-label">姓名</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary dcxt-right-label">
					<label class="tablessetting-gray-font">{{agent_info.USER_NAME}} ( 先生 )</label>
				</div>	
		</div>
		
		<div class="weui_cell">
			<div class="weui_cell_hd">
					<label class="weui_label label tablessetting-label">联系电话</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary dcxt-right-label">
					<label class="tablessetting-gray-font" ng-bind="agent_info.USER_PHONE"></label>
				</div>	
		</div>
		
		<div class="weui_cell">
			<div class="weui_cell_hd">
					<label class="weui_label label tablessetting-label">公司名称</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary dcxt-right-label">
					<label class="tablessetting-gray-font" ng-bind="agent_info.COMPANY_NAME"></label>
				</div>	
		</div>
		
		<div class="weui_cell">
			<div class="weui_cell_hd">
					<label class="weui_label label tablessetting-label">营业执照</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary dcxt-right-label">
					<label class="tablessetting-gray-font" ng-bind="agent_info.BUSINESS_LICENSE"></label>
				</div>	
		</div>
		
		<div class="weui_cell">
			<div class="weui_cell_hd">
					<label class="weui_label label tablessetting-label">公司地址</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary dcxt-right-label">
					<label class="tablessetting-gray-font" ng-bind="agent_info.COMPANY_ADDRESS"></label>
				</div>	
		</div>
		
		<div class="weui_cell">
			<div class="weui_cell_hd">
					<label class="weui_label label tablessetting-label">认证状态</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary dcxt-right-label" ng-switch="agent_info.AUTH_STATUS">
					<label class="tablessetting-red-font" ng-switch-when="0">未完成认证</label>
					<label class="tablessetting-gray-font" ng-switch-when="1">已完成认证</label>
				</div>	
		</div>
		
		<div class="weui_cell">
			<div class="weui_cell_hd">
					<label class="weui_label label tablessetting-label">现有余额</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary dcxt-right-label">
					<label class="tablessetting-gray-font">{{agent_info.USER_BALANCE}} ( </label>
					<a ng-click="toHref('ActingCustomerManagement/withdrawalManagement')" style="color:#D24F48;">提现</a>
					<label class="tablessetting-gray-font"> )</label>
				</div>	
		</div>
		
		<div class="weui_cell">
			<div class="weui_cell_hd">
					<label class="weui_label label tablessetting-label">代理级别</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary dcxt-right-label">
					<label class="tablessetting-gray-font" ng-switch="agent_info.AGENT_LEVEL">
						<span ng-switch-when = "1">普通代理</span>
						<span ng-switch-when = "2">银牌代理</span>
						<span ng-switch-when = "3">银牌代理</span>
						<span ng-switch-when = "4">金牌代理</span>
						<span ng-switch-when = "5">钻石代理</span>
					</label>
				</div>	
		</div>
		
		<div class="weui_cell">
			<div class="weui_cell_hd">
					<label class="weui_label label tablessetting-label">代理区域</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary dcxt-right-label">
					<label class="tablessetting-gray-font" ng-bind="agent_info.AGENT_AREA"></label>
				</div>	
		</div>
		
		<div class="weui_cell" ng-click="toHref('ActingCustomerManagement/agentInformation/changeRole')">
			<div class="weui_cell_hd" style="margin-left:8px;">
				<span class="icon-refresh" style="font-size:18px;color:#1B9852;"></span>
			</div>
			<div class="weui_cell_bd">
				<label class=" weui_label label tablessetting-label">切换角色</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary dcxt-right-label">
				<label class="tablessetting-gray-font">切换其他角色</label>
			</div>	
		</div>
	
	</div>
	



</div>

