<style>
	
	.dcxt-shopselects{
		background-color:#fff;
		margin-top:0;
		margin-bottom:10px;
		padding-top:12px;
	}
	
	.dcxt-shopselect{
		margin:10px 20px;
		padding:7px 10px;
		border:1px solid;
		border-color: #A5A5A5;
		border-radius:5px;
		display：flex;
		color:#A5A5A5;
		margin-bottom:20px;
		font-size:12px;
	}
	.dcxt-shopselect-on {
   	 	border-color: #83D3E3;
     	color: #888;
	}
	.weui_cell {
    padding: 14px 15px;
	}
	.dcxt-red-right{
		color:#D52D21;
		text-align:right;
	}
	.dcxt-explain-font{
		margin-left:7px;
		font-size:12px;
		color:#757575;
		width:auto;
	}
	
	.no-border:before{
	    content: " ";
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 1px;
	    border-top: 1px solid #fff;
	    color: #fff;
	    -webkit-transform-origin: 0 0;
	    transform-origin: 0 0;
	    -webkit-transform: scaleY(.5);
	    transform: scaleY(.5);
	    left: 15px;
	}
	
	.weui_icon_success_no_circle:before {
    	color: #31C4F7;
	}
	
	
</style>


<div class="weui-header" style="background-color:#FFF">
	<div href="#" class="weui-header-left">
		<a class="icon icon-109" ng-click="toHref('ActingCustomerManagement')"></a>
	</div>

	<h1 class="weui-header-title weui-header-self" ng-bind="pageTitle"></h1>
 	
</div>
<div class="weui_cells dcxt-shopselects" ng-show="pageShow">
	<div class="dcxt-shopselect {{current_service.SERVICE_PRICE == item.SERVICE_PRICE ? 'dcxt-shopselect-on':''}}" ng-model="item" ng-repeat="item in service_type" data-value="{{$index}}">
		<div class="location-center">
            <span class="weui_cell_primary" ng-bind="item.SERVICE_TYPE"></span>
        	<span>{{item.SERVICE_PRICE}}/月</span>
        </div>
        <div style="margin-top:10px;">
            	{{item.SERVICE_DESC}}
        </div>
	</div>
	
	<div class="weui_cell tablessetting-weui_select" style="margin-top:-1px;">
		<div class="weui_cell_hd">
			<label class="weui_label label tablessetting-label">购买期限</label>
		</div>
		<div class="weui-cell_bd  weui_cell_primary" dir="rtl" style="margin-right:18px;">
			<input class="weui_input tablessetting-weui_hd_self label-input" id="buying_select" type="text"
					 value="" ng-model="buy_time">
		</div>
	</div>  
	<div style="width:100%;height:10px;background-color:#F2F2F2;"></div>           
     <div class="weui_cell no-border" style="margin-top:-1px;">
		<div class="weui_cell_hd  weui_cell_primary"  style="display:flex;align-items: flex-end;">
			<label class="weui_label label tablessetting-label">
			服务价格
			
			<label class="label dcxt-explain-font">{{current_service.SERVICE_TYPE}}({{current_service.SERVICE_PRICE}}/月)x{{buy_time}}</label>
			</label>
		</div>
		<div class="weui-cell_bd dcxt-red-right">
			￥{{total_money_before}}.00
		</div>
		
	</div>     
	
	 <div class="weui_cell" style="margin-top:-1px;" ng-show="discounts_show">
		<div class="weui_cell_hd  weui_cell_primary"  style="display:flex;align-items: flex-end;">
			<label class="weui_label label tablessetting-label">
			优惠金额
			
			<label class="label dcxt-explain-font">购买{{buy_time}}减{{discounts_month}}月</label>
			</label>
		</div>
		<div class="weui-cell_bd dcxt-red-right">
			-￥{{discounts_money}}.00
		</div>
	</div>     
		 <div class="weui_cell" style="margin-top:-1px;" ng-show="deduction_show">
		<div class="weui_cell_hd  weui_cell_primary"  style="display:flex;align-items: flex-end;">
			<label class="weui_label label tablessetting-label">
			抵扣金额
			
			<label class="label dcxt-explain-font">升级服务抵扣金额</label>
			</label>
		</div>
		<div class="weui-cell_bd dcxt-red-right">
			-￥{{deduction_money}}.00
		</div>
	</div>  
   
    <div class="weui_cell" style="margin-top:-1px;">
		<div class="weui_cell_hd  weui_cell_primary">
			<label class="weui_label label tablessetting-label">
			应付金额
			</label>
		</div>
		<div class="weui-cell_bd dcxt-red-right dcxt-red-right">
			￥{{form.TRANSACTION_MONEY}}.00
		</div>
	</div>    
	
	<div style="width:100%;height:24px;background-color:#F2F2F2;"><label class="label dcxt-explain-font" style="line-height:24px;">请选择支付方式</label></div>   
		 <div class="weui_cell dcxt_active no-border location-center" style="margin-top:-1px;" ng-click="selectPay(1)">
			<div class="weui_cell_hd">
				<label class="weui_label label tablessetting-label">
				微信支付
				</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary" style="margin-left:-16px;display: flex;">
					<img src="assets/img/weixinpay.png" height="22px;" width="25px;"></img>
			</div>
			<div class="{{form.PAY_TYPE == '1' ?'weui_icon_success_no_circle':''}}" style="min-width:23px;height:23px;">
			</div>
		</div> 
		
		 <div class="weui_cell dcxt_active" style="margin-top:-1px;" ng-click="selectPay(2)">
			<div class="weui_cell_hd  weui_cell_primary">
				<label class="weui_label label tablessetting-label">
				余额支付
				</label>
			</div>
			<div class="{{form.PAY_TYPE == '2' ?'weui_icon_success_no_circle':''}}" style="min-width:23px;height:23px;">
			</div>
		</div> 
	        <div style="width:100%;height:10px;background-color:#F2F2F2;"></div>  
	<div  class="weui_cell no-border" style="padding:30px 20px 20px 20px;">
      	<a style="width:100%;" class="weui_btn bg-blue" ng-click="confirmPayment()">确认支付</a>
	</div>
     

</div>

<div class="weui-loadmore" ng-hide="pageShow">
	<i class="weui-loading"></i>
	<span class="weui-loadmore-tips">正在加载</span>
</div>

