

	body {
	    background-color: #F5F5F5;
	    font-size: 12px;
	    -webkit-font-smoothing: antialiased;
	    font-family: arial,sans-serif;
	}

	 address,caption,cite,dfn,em,i,th,var{font-style:normal;}

	 *, :after, :before {
	   box-sizing: border-box;
	   outline: 0;
	}



	.weui_cells {
	    margin-top: 1px;
	    font-size: 15px;
	}



	.weui-swiped-btn{
		display: flex;
		align-items: center;
	}

	.weui_cell_hd,.weui_cell_bd{
		color:#333;

	}



	.small-red-font, .small-gray-font{	
		font-size: 13px;
	}


	.small-red-font{
		color:#EF4F4F;
	}


	.small-gray-font{
		color:#999;
	}




	.weui_cell_bd .weui_cell{
		padding: 0; 
	}

	.weui_cell .slideleft span {
	    padding: 0 24px;
	   
	}


	.slidelefts .weui_cell_bd {
	    padding: 10px 12px;
	}


	.weui_cell_bd{
		float:left;
		display:flex;
		align-items:center;
	}
