<form class="form-inline" style="margin-bottom:5px;">
	<div class="form-group">
		<label class=""> &nbsp; 项目名称：</label> 
		<input  class="form-control" type="text" ng-model="form.RESEARCH_TITLE" >
	</div>
	
	<div class="form-group">
		<label class=""> &nbsp; 项目状态：</label>
		<select class="form-control" ng-model="form.STATUS">
			<option  value="">=全部=</option>
			<option  value="1"  >申请书校级审核</option>
			<option  value="2" >申请书区级初审</option>
			<option  value="3" >申请书专家评审</option>
			<option  value="4" >申请书区级复审</option>
			<option  value="5" >申请书驳回</option>
			<option  value="6" >等待提交开题报告</option>
			<option  value="7" >开题报告校级审核</option>
			<option  value="8" >开题报告区级审核</option>
			<option  value="9" >开题报告驳回</option>
			<option  value="10" >等待提交中期报告</option>
			<option  value="11" >中期报告校级审核</option>
			<option  value="12" >中期报告区级审核</option>
			<option  value="13" >中期报告驳回</option>
			<option  value="14" >等待提交结题报告</option>
			<option  value="15" >结题报告校级审核</option>
			<option  value="16" >结题报告区级审核</option>
			<option  value="17" >结题报告专家评审</option>
			<option  value="18" >结题报告教育局审核</option>
			<option  value="19" >结题报告驳回</option>
			<option  value="20" >教科研完成</option>
			<option  value="21" >变更报告等待提交</option>
			<option  value="22" >变更报告校级审核</option>
			<option  value="23" >变更报告区级审核</option>
			<option  value="24" >变更报告驳回</option>
			<option  value="25" >延期、终止报告等待提交</option>
			<option  value="26" >延期、终止报告校级审核</option>
			<option  value="27" >延期、终止报告区级审核</option>
			<option  value="28" >延期、终止报告驳回<</option>
		    <option  value="29" >科研终止</option>
		</select>
		
	</div>
	<button ng-click="select()" type="button" class="btn btn-default"> 
	<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查询 
	</button>
</form>


<div class="panel panel-info" style="margin-top: 5px;">
  		
	 <table class="table table-hover table-striped table-bordered ">  
	      <thead>
	        <tr>
	        	 <th column="PROJECT_TITLE" class="sorting" ng-click="order($event.target)">项目名称</th>
		         <th column="TEACHER_NAME" class="sorting" ng-click="order($event.target)">负责人 </th>
		         <th column="TEACHER_SCHOOL_NAME" class="sorting" ng-click="order($event.target)">工作单位 </th>
		         <th column="APPLY_DATE" class="sorting" ng-click="order($event.target)">填表时间</th>
		         <th column="FINISH_DATE" class="sorting" ng-click="order($event.target)">预计完成时间</th>
		         <th column="DELTA_TIME" class="sorting" ng-click="order($event.target)">课题结题倒计时</th>
		         <th column="STATUS" class="sorting" ng-click="order($event.target)">项目状态</th>
		         <th column="PROJECT_TYPE" class="sorting" ng-click="order($event.target)">项目类型</th>
		         <th column="PROJECT_LEVEL" class="sorting" ng-click="order($event.target)">项目级别</th>
		         <th column="" class="sorting" ng-click="order($event.target)">操作</th>
        </tr>
	      </thead>
	      <tbody  ng-switch on="page.current_num" class="ZTCLASS">
	      	<tr ng-switch-when="0">
	      		<td colspan="100" class="NoSelectHistory">查询无记录</td>
	      	</tr>
	        <tr ng-repeat='data in dataList'>
                <td>
                	{{data.PROJECT_TITLE}}
                </td>
	        	<td>{{data.TEACHER_NAME}}</td>
	        	<td>{{data.TEACHER_SCHOOL_NAME}}</td>
	        	<td>{{data.APPLY_DATE}}</td>
	        	<td>{{data.FINISH_DATE}}</td>
	        	<td>{{data.DELTA_TIME}}</td>
	        	<td ng-switch on="data.STATUS">
		          	<span ng-switch-when="0">申请书未提交</span>
		          	<span ng-switch-when="1">申请书校级审核</span>
		          	<span ng-switch-when="2">申请书区级初审</span>
		          	<span ng-switch-when="3">申请书专家评审</span>
		          	<span ng-switch-when="4">申请书区级复审</span>
		          	<span ng-switch-when="5">申请书驳回</span>
		          	<span ng-switch-when="6">等待提交开题报告</span>
		          	<span ng-switch-when="7">开题报告校级审核</span>
		          	<span ng-switch-when="8">开题报告区级审核</span>
		          	<span ng-switch-when="9">开题报告驳回</span>
		          	<span ng-switch-when="10">等待提交中期报告</span>
		          	<span ng-switch-when="11">中期报告校级审核</span>
		          	<span ng-switch-when="12">中期报告区级审核</span>
		          	<span ng-switch-when="13">中期报告驳回</span>
		          	<span ng-switch-when="14">等待提交结题报告</span>
		          	<span ng-switch-when="15">结题报告校级审核</span>
		          	<span ng-switch-when="16">结题报告区级审核</span>
		          	<span ng-switch-when="17">结题报告专家评审</span>
		          	<span ng-switch-when="18">结题报告教育局审核</span>
		          	<span ng-switch-when="19">结题报告驳回</span>
		          	<span ng-switch-when="20">教科研完成</span>
		          	<span ng-switch-when="21">变更报告等待提交</span>
		          	<span ng-switch-when="22">变更报告校级审核</span>
		          	<span ng-switch-when="23">变更报告区级审核</span>
		          	<span ng-switch-when="24">变更报告驳回</span>
		          	<span ng-switch-when="25">区级</span>
		          	<span ng-switch-when="26">延期、终止报告校级审核</span>
		          	<span ng-switch-when="27">延期、终止报告区级审核</span>
		          	<span ng-switch-when="28">延期、终止报告驳回</span>
		          	<span ng-switch-when="29">科研终止</span>
	            </td> 
	        	<td ng-switch on="data.PROJECT_TYPE">
	        		<span ng-switch-when="1">招标课题</span>
		          	<span ng-switch-when="2">一般课题</span>
		          	<span ng-switch-when="3">重点课题</span>
		          	<span ng-switch-when="4">个人</span>
		          	<span ng-switch-when="5">集体</span>
		          	<span ng-switch-when="6">不予立项</span>
	            </td>
	        	<td ng-switch on="data.PROJECT_LEVEL">
		          	<span ng-switch-when="1">校级</span>
		          	<span ng-switch-when="2">区级</span>
		          	<span ng-switch-when="3">市级</span>
	            </td>
	            <td>
	 				<a ng-click="info(data.SC_EXPLORE_PK,data.EXPLORE_PETITION_PK,FK_EXPLORE_REPORT,FK_EXPLORE_PROGRESS,FK_PROJECT_ACHIEVE)"><span class="glyphicon glyphicon-search"></span>查看详情</a> &nbsp; &nbsp; 
		            <span id="check{{data.SC_EXPLORE_PK}}" style="display:none;">
		            <a ng-click="check(data.SC_EXPLORE_PK,data.STATUS,data.EXPLORE_PETITION_PK,FK_EXPLORE_REPORT,FK_EXPLORE_PROGRESS,FK_PROJECT_ACHIEVE)"><span class="glyphicon glyphicon-check"></span>审核</a>
	         	 	</span>	
	         	 	<span id="checkInfo{{data.SC_EXPLORE_PK}}" style="display:none;">
		            <a ng-click="checkInfo(data.SC_EXPLORE_PK)"><span class="glyphicon glyphicon-check"></span>审核详情</a>
	         	 	</span>	
	            </td>
	        </tr>
	      </tbody>
	      <tfoot>
	      	<tr>
	      		<td colspan="100">
	      		<div ng-include="'html/page.html'"></div>
				</td>
	      	</tr>
	      </tfoot>
	    </table>
 		</div>
    