
<div class="weui-header" style="background-color:#FFFFFF">
	<div class="weui-header-left"
		ng-click="toHref('SystemSetup/BasicSetting');">
		<a class="icon icon-109" style="color: #0D0D0D !important;"></a>
	</div>
	<h1 class="weui-header-title weui-header-self">{{pageTitle}}</h1>
	<div class="weui-header-right" style="top: 0;">
		<div class="button_sp_area" style="padding: 12px 0;">
			<div class="bom-radio" style="transform: translateX(-210%);"
				id="attend2" ng-click="doSave()">购买</div>
			<div class="bom-radio" id="attend2" ng-click="toHref('SystemSetup/BasicSetting/printer/setting');">添加</div>
		</div>
	</div>
</div>
<div class="weui_cells weui_cells_form" style="margin-top: 0;">
	<div class="weui_cell slidelefts weui_cell_primary slide_cell"
		ng-repeat="item in type_list">
		<div class="weui_cell_bd weui_cell_primary slideleft_cell_bd">
			<div class="weui_cell_bd list_bd">
				<p class="label-input" ng-bind="$index + 1"></p>
			</div>
			<div class="weui_cell_bd list_bd ">
				<p class="label-input" ng-bind="item.PRINTER_NAME"></p>
			</div>
			<div class="weui_cell_bd list_bd ">
				<p class="label-input" ng-bind="item.PRINTER_LEVEL"></p>
			</div>
			<div class="weui_cell_bd list_bd ">
				<p class="label-input" ng-bind="item.PRINTER_PAGE_WIDTH"></p>
			</div>
			<div class="weui_cell_bd list_bd ">
				<p class="label-input">{{item.PRINTER_PAGE_NUMS}}份</p>
			</div>
			<div class="weui_cell_bd list_bd ">
				<p class="label-input" ng-bind="item.PRINTER_NAME"></p>
			</div>
		</div>
		<div class="slideleft">
			<span style="background:#ccc;color:#fff">取消关注</span> <span
				class="bg-red f-white dels" ng-click>删除</span>
		</div>
	</div>
</div>
