<style>
.cancelBorder:before{
	width:0;
}
.hide-input{
	float: left;
	position: relative;
	margin-right: 9px;
	margin-bottom: 9px;
	width: 77px;
	height: 77px;
}
	.dcxt_select_span {
	    margin: 8px 10px 12px 0;
	    border-radius:25px;
	    border: 1px solid rgba(0, 0, 0, .2);
	    padding: 3px 9px;
	    font-size:12px;
	    float:left;
	}
</style>
   <div class="weui-header" style="background-color:#FFFFFF">
		<div class="weui-header-left">
			<a class="icon icon-109"  ng-click="returnClick()"></a>
		</div>
		<h1 class="weui-header-title weui-header-self">{{pageTitle}}</h1>
		<div class="weui-header-right" style="top: 0;">
			<div class="button_sp_area">
				<div class="bom-radio" id="attend2" ng-click="doSave()">保存</div>
			</div>
		</div>
	</div>
	 <div class="weui_cells weui_cells_form" style="margin-top:0" id="form" ng-show="pageShow">
	 		 <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label label tablessetting-label">商品名称</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input label-input" type="text"  placeholder="输入商品名称" ng-model="form.GOODS_NAME" required emptyTips="请输入商品名称"/>
                </div>
                <i class="weui_icon_warn"></i>
            </div>
            <div class="weui_cell dcxt_active">
			<div class="weui_cell_hd">
				<label class="weui_label label tablessetting-label">是否启用</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<div class="weui-form">
					<div class="weui-form-li iblock li-checkbox-self" style="margin-left:10%">
						<input class="weui-form-checkbox" name="f2" id="g1" value="1"
							type="radio" ng-model="form.IS_USE"> <label
							for="g1"> <i class="weui-icon-radio icon-checkbox-self"
							style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>启用</p>
							</div>
						</label>
					</div>
					<div class="weui-form-li iblock li-checkbox-self"
						style="margin-left: 10%;">
						<input class="weui-form-checkbox" name="f2" id="g2" value="0"
							type="radio" ng-model="form.IS_USE"> <label
							for="g2"> <i class="weui-icon-radio icon-checkbox-self"
							style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>禁用</p>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div>
		 <div class="weui_cell" style="width:48%;float:left;margin-left:0;">
                <div class="weui_cell_hd"><label class="weui_label label tablessetting-label">商品编码</label></div>
                <div class="weui_cell_bd">
                    <input class="weui_input label-input" type="text" placeholder="输入商品编码" ng-model="form.GOODS_CODE"/>
                </div>
         </div>
         <div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label label " style="color:#04be02">分类</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<input class="weui_input label-input" id="fs_select" type="text" ng-readonly="true"
					value=""  ng-model = "form.GTYPE_NAME">
			</div>
		</div>
		<div class="weui_cell" style="width:30%;float:left;margin-left:0;">
			<div class="weui_cell_hd">
				<label class="weui_label label tablessetting-label" style="color:#04be02">单位</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<input class="weui_input label-input" id="unit_select" type="text"
					value=""  ng-model = "form.GOODS_DW">
			</div>
		</div>
		 <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label label ">序号</label></div>
                <div class="weui_cell_bd">
                    <input class="weui_input label-input" type="text"  ng-model="form.GOODS_PXXH" required placeholder="输入排序序号" emptyTips="请输入排序序号"/>
                </div>
         </div>
<!--           <div class="weui_cell dcxt_active">
			<div class="weui_cell_hd">
				<label class="weui_label label tablessetting-label">类型</label>
			</div>
			<div class="weui_cell_bd">
				<div class="weui-form">
					<div class="weui-form-li iblock li-checkbox-self" style="margin-left: 0;">
						<input class="weui-form-checkbox" name="f3" id="g3" value="2"
							type="radio" ng-model="form.GOODS_TYPE"> 
							<label for="g3"> <i class="weui-icon-radio icon-checkbox-self" style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>常规</p>
							</div>
						</label>
					</div>
					<div class="weui-form-li iblock li-checkbox-self" style="margin-left: 10px;">
						<input class="weui-form-checkbox" name="f3" id="g4" value="3"
							type="radio" ng-model="form.GOODS_TYPE"> 
							<label for="g4"> <i class="weui-icon-radio icon-checkbox-self" style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>套餐</p>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div> -->
		<div class="weui_cell" style="width:44%;float:left;margin-left:0;padding-right:0">
			 <div class="weui_cell_hd"><label class="weui_label label tablessetting-label">原价</label></div>
             <div class="weui_cell_bd">
                    <input class="weui_input label-input" style="float:left" type="text"  placeholder="输入原价" ng-model="form.GOODS_PRICE" required emptyTips="请输入商品价格"
                    	notMatchTips="请输入正确价格" pattern="^[0-9]+(.{1}[0-9]{1,2})?$"/>
             </div>
             <div class="weui_cell_bd"><span class="label-input">元</span></div>
		</div>
		 <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label label">特价</label></div>
                <div class="weui_cell_bd">
                    <input class="weui_input label-input" type="text"  placeholder="输入特价" ng-model="form.GOODS_TRUE_PRICE" notMatchTips="请输入正确价格" pattern="^([0-9]+(.{1}[0-9]{1,2})?)?$"/>
                </div>
                 <div class="weui_cell_bd"><span class="label-input">元</span></div>
         </div>
         <div class="weui_cell cancelBorder" style="background-color:#F2F2F2;width:46%;height:44px;float:left;margin-left:2%;padding:0">
			 <div class="weui_cell_bd"><label class="weui_label label">规格</label></div>
		</div>
		 <div class="weui_cell cancelBorder" style="background-color:#F2F2F2;height:44px;margin-right:2%;padding:0">
                <div class="weui_cell_hd"><label class="weui_label label">价格增减</label></div>
                <div class="weui_cell_bd" style="margin-left:20%" ng-click="add(1)">
                	<i class="icon-plus-sign" style="color:#04be02"></i>
                </div>
         </div>
         <div ng-repeat="item in GOODS_SPECIFICATION track by $index" ng-init="initsize_selects($index,item.name)" class="dcxt_active">
	        <div class="weui_cell" style="width:46%;height:44px;float:left;margin-left:6%;padding-right:0">
				<div class="weui_cell_bd" style="width:20%">
					<input class="weui_input label-input size_select" type="text" 
						value=""  ng-model="item.name">
				</div>
				<div class="weui_cell_bd">
					<span class="icon icon-74"></span>
				</div>
			</div>
			 <div class="weui_cell cancelBorder" style="height:44px;">
	                <input class="weui_cell_hd weui_input weui_label label" ng-model="item.price" placeholder="例：+10.00" required emptyTips="请输入价格增减" 
	                	notMatchTips="请输入正确价格" pattern="^[+|-]{1}[0-9]+(.{1}[0-9]{1,2})?$" >元</input>
	                <div class="weui_cell_bd" style="margin-left:20%" ng-click="del(1,$index)">
	                	<i class="icon-trash" style="color:#04be02"></i>
	                </div>
	         </div>
         </div>
         
          <div class="weui_cell cancelBorder" style="background-color:#F2F2F2;width:46%;height:44px;float:left;margin-left:2%;margin-top:4%;padding:0">
			 <div class="weui_cell_bd"><label class="weui_label label">做法</label></div>
		</div>
		 <div class="weui_cell cancelBorder" style="background-color:#F2F2F2;height:44px;margin-right:2%;margin-top:4%;padding:0">
                <div class="weui_cell_hd"><label class="weui_label label">价格增减</label></div>
                <div class="weui_cell_bd" style="margin-left:20%" ng-click="add(2)">
                	<i class="icon-plus-sign" style="color:#04be02"></i>
                </div>
         </div>
         <div ng-repeat="item in GOODS_RECIPE track by $index" class="dcxt_active">
	        <div class="weui_cell" style="width:46%;height:44px;float:left;margin-left:6%;padding-right:0">
				<div class="weui_cell_bd" style="width:40%">
					<input class="weui_input label-input" type="text" placeholder="输入做法" required emptyTips="请输入做法"
						value=""  ng-model="item.name">
				</div>
				 <i class="weui_icon_warn"></i>
			</div>
			 <div class="weui_cell cancelBorder" style="height:44px;">
	                <input class="weui_cell_hd weui_input weui_label label" ng-model="item.price" placeholder="例：+10.00" required emptyTips="输入价格增减"
	                	notMatchTips="请输入正确价格" pattern="^[+|-]{1}[0-9]+(.{1}[0-9]{1,2})?$" >元</input>
	                <div class="weui_cell_bd" style="margin-left:20%" ng-click="del(2,$index)">
	                	<i class="icon-trash" style="color:#04be02"></i>
	                </div>
	         </div>
         </div>
         
         
         
          <div class="weui_cell cancelBorder" style="background-color:#F2F2F2;width:46%;height:44px;float:left;margin-left:2%;margin-top:4%;padding:0">
			 <div class="weui_cell_bd"><label class="weui_label label">口味</label></div>
		</div>
		 <div class="weui_cell cancelBorder" style="background-color:#F2F2F2;height:44px;margin-top:4%;margin-right:2%;padding:0">
                <div class="weui_cell_hd"><label class="weui_label label">价格增减</label></div>
                <div class="weui_cell_bd" style="margin-left:20%" ng-click="add(3)">
                	<i class="icon-plus-sign" style="color:#04be02"></i>
                </div>
         </div>
          <div ng-repeat="item in GOODS_TASTE track by $index" class="dcxt_active">
	        <div class="weui_cell" style="width:46%;height:44px;float:left;margin-left:6%;padding-right:0">
				<div class="weui_cell_bd" style="width:40%">
					<input class="weui_input label-input" type="text" placeholder="输入口味" required emptyTips="请输入口味"
						value=""  ng-model="item.name">
				</div>
				 <i class="weui_icon_warn"></i>
			</div>
			 <div class="weui_cell cancelBorder" style="height:44px;">
	                <input class="weui_cell_hd weui_input weui_label label" ng-model="item.price" placeholder="例：+10.00" required emptyTips="输入价格增减"
	                	notMatchTips="请输入正确价格" pattern="^[+|-]{1}[0-9]+(.{1}[0-9]{1,2})?$" >元</input>
	                <div class="weui_cell_bd" style="margin-left:20%" ng-click="del(3,$index)">
	                	<i class="icon-trash" style="color:#04be02"></i>
	                </div>
	         </div>
         </div>
         
        <div class="weui_cell cancelBorder" style="flex-wrap:wrap;background-color:#F2F2F2;margin-top:4%;">
			 <div class="weui_cell_bd"><label class="weui_label label tablessetting-label">商品备注</label></div>
		</div>
		<!--  <div class="weui_cell cancelBorder" style="background-color:#F2F2F2;height:44px;margin-top:4%;margin-right:2%;padding:0">
                <div class="weui_cell_bd" style="margin-left:60%">
                </div>
         </div> -->
         <div class="weui_cell cancelBorder">
         	<textarea id="textarea" ng-model="form.GOODS_DESC" class="weui_textarea" placeholder="请输入商品备注(选填)" rows="3"></textarea>
         </div>
         
          <div class="weui_cell cancelBorder"  style="flex-wrap:wrap;background-color:#F2F2F2;">
			 <div class="weui_cell_bd"><label class="weui_label label tablessetting-label">商品标签</label></div>
		  </div>
		<!--  <div class="weui_cell cancelBorder" style="background-color:#F2F2F2;height:44px;margin-top:4%;margin-right:2%;padding:0">
                <div class="weui_cell_bd" style="margin-left:60%">
                </div>
         </div> -->
        <div class="weui_cell no-broder" style="display: -webkit-box;display: -webkit-flex; padding-right:0px;padding-bottom:4px;">
			<div class="weui_cell_bd" style="padding:4px 0;">
				<span class="{{value == 'true' ? 'bg-blue f-white':'bg-white f-black'}} dcxt_select_span" ng-repeat="(key,value) in label_library" ng-click="clickLabel(key)">{{key | valueToKey : labelList}}</span>
			</div>
		</div>
        <!--  <div class="weui_cell cancelBorder">
         	<textarea id="textarea" ng-model="form.GOODS_LABEL" class="weui_textarea" placeholder="用于给用户选择，多个标签用逗号分开(选填)" rows="3"></textarea>
         </div> -->
         
         
          <div class="weui_cell cancelBorder"  style="flex-wrap:wrap;background-color:#F2F2F2;">
			 <div class="weui_cell_bd"><label class="weui_label label tablessetting-label">打印标签</label></div>
		  </div>
		<!--  <div class="weui_cell cancelBorder" style="background-color:#F2F2F2;height:44px;margin-top:4%;margin-right:2%;padding:0">
                <div class="weui_cell_bd" style="margin-left:60%">
                </div>
         </div> -->
        <div class="weui_cell no-broder" style="display: -webkit-box;display: -webkit-flex; padding-right:0px;padding-bottom:4px;">
			<div class="weui_cell_bd" style="padding:4px 0;">
				<span class="{{value == 'true' ? 'bg-blue f-white':'bg-white f-black'}} dcxt_select_span" ng-repeat="(key,value) in print_label_library" ng-click="clickPrintLabel(key)">{{key | valueToKey : printLabelList}}</span>
			</div>
		</div>
         
         
          <div class="weui_cell dcxt_active" style="top:20px">
			<div class="weui_cell_hd">
				<label class="weui_label label tablessetting-label">显示范围</label>
			</div>
			<div class="weui_cell_bd">
				<div class="weui-form">
					<div class="weui-form-li iblock li-checkbox-self" style="margin-left: 10px;"
						ng-repeat="(key, value) in SHOW_RANGE">
						<input class="weui-form-checkbox" name="f3" id="h{{$index + 1}}"
							value="{{key}}" type="checkbox"  ng-model="SHOW_RANGE[key]">
							<label for="h{{$index + 1}}"> <i class="weui-icon-checkbox icon-checkbox-self"
							style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0">
								<p>{{key}}</p>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div>
		 <div class="weui_cell dcxt_active" style="top:20px">
			<div class="weui_cell_hd">
				<label class="weui_label label tablessetting-label">图片</label>
			</div>
            <div class="weui_uploader_bd weui_cell_primary">
            	<ul class="weui_uploader_files" id="img2x">
            		<li class="weui_uploader_file" ng-repeat="item in PICTURE_URL" style="background-image:url({{item}})">
	            		<div class="hide-input">
		                	<input class="weui_uploader_input" type="file" onchange="previewImage(this)" accept="image/*" multiple>
		                	<!-- accept="image/jpg,image/jpeg,image/png,image/gif" -->
	             		</div>
            		</li>
            		</ul>
             	<div class="weui_uploader_input_wrp">
                	<input class="weui_uploader_input" type="file"  onchange="previewImage(this)" accept="image/*" multiple>
             	</div>
            </div>
		</div>
		<div class="weui_cell cancelBorder" style="background-color:#F2F2F2;width:95%;height:44px;margin-left:2%;margin-top:4%;padding:0">
			<div class="weui_cell_bd"><label class="weui_label label">商品介绍</label></div>
		</div>
		<div class="weui_cell no-broder">
	       <div class="weui_cell_bd weui_cell_primary">
	          <textarea style="padding:0 12px;" id="textarea" class="weui_textarea" placeholder="请输入商品介绍（选填）" rows="3" ng-model="form.GOODS_INTRODUCTION"></textarea>
	       </div>
	    </div>
		<div class="weui_cell cancelBorder" style="top:20px;margin-bottom:20px;">
		 	<p style="font-size:14px;">&nbsp;&nbsp;说明:原价必填，特价可填，如特价已填，该商品为特价商品，不享受任何折扣优惠。</p>
		</div>
	 </div>
	 
	<div class="weui-loadmore" ng-hide="pageShow">
		<i class="weui-loading"></i>
		<span class="weui-loadmore-tips">正在加载</span>
	</div>
	
