
<div class="weui-header" style="background-color:#FFFFFF">
	<div class="weui-header-left"
		ng-click="toHref('SystemSetup/BasicSetting/printer');">
		<a class="icon icon-109" style="color: #0D0D0D !important;"></a>
	</div>
	<h1 class="weui-header-title weui-header-self">{{pageTitle}}</h1>
</div>

<div class="weui_cells weui_cells_form" style="margin-top: 0;"
	id="menuAddForm">
	<div class="weui_cell">
		<img src="assets/img/timg.jpg" style="width: 100%;">
	</div>
	<div class="weui_cell">
		<div class="weui_cell_hd">
			<label class="weui_label label">接品类型</label>
		</div>
		<div class="weui_cell_bd weui_cell_primary">
			<div class="weui-form">
				<div class="weui-form-li iblock li-checkbox-self"
					style="height: 19px; margin-left: {{$index == 0 ? 0 : 10}}px;"
					ng-repeat="item in nameList">
					<a
						class="weui_btn weui_btn_mini weui_btn_{{item.outer ? 'noouter' : 'outer'}} weui_btn_self"
						ng-click="changeCheckArr(item)">{{item.PRINT_RELEVANT_NAME}}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="weui_cell">
		<div class="weui_cell_hd">
			<label class="weui_label label">出纸宽度</label>
		</div>
		<div class="weui_cell_bd weui_cell_primary">
			<div class="weui-form">
				<div class="weui-form-li iblock li-checkbox-self"
					style="height: 19px; margin-left: {{$index == 0 ? 0 : 10}}px;"
					ng-repeat="item in loadWidthList">
					<a
						class="weui_btn weui_btn_mini weui_btn_{{item.outer ? 'noouter' : 'outer'}} weui_btn_self"
						ng-click="changeCheckArr(item)">{{item.PRINT_RELEVANT_NAME}}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="weui_cell">
		<div class="weui_cell_hd">
			<label class="weui_label label">网络类型</label>
		</div>
		<div class="weui_cell_bd weui_cell_primary">
			<div class="weui-form">
				<div class="weui-form-li iblock li-checkbox-self"
					style="height: 19px; margin-left: {{$index == 0 ? 0 : 10}}px;"
					ng-repeat="item in loadTypeList">
					<a
						class="weui_btn weui_btn_mini weui_btn_{{item.outer ? 'noouter' : 'outer'}} weui_btn_self"
						ng-click="changeCheckArr(item)">{{item.PRINT_RELEVANT_NAME}}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="weui_cell">
		<div class="weui_cell_hd">
			<label class="weui_label label">购买数量</label>
		</div>
		<div class="weui_cell_bd weui_cell_primary">
			<div class="weui-count">
				<a class="weui-count__btn weui-count__decrease"
					ng-click="fsDoReduce()"></a> <input class="weui-count__number"
					ng-model="form.PRINT_BUG_NUM" type="number"
					style="width: 1.5rem;" pattern="[0-9]*" ng-blur="fsReduceNum()" />
				<a class="weui-count__btn weui-count__increase" ng-click="fsDoAdd()"></a>
			</div>
		</div>
	</div>
	<div class="weui_cell">
		<div class="weui_cell_hd">
			<label class="weui_label label">应付金额</label>
		</div>
		<div class="weui_cell_bd weui_cell_primary">
			<p style="color: red;">￥{{form.PRINT_PRICE}}</p>
		</div>
	</div>
	<div class="weui_cell">
		<div class="weui_cell_hd">
			<label class="weui_label label">配送地址</label>
		</div>
		<div class="weui_cell_bd weui_cell_primary"><input class="weui_input label-input" type="text"
				placeholder="输入配送地址" ng-model="form.PRINTER_ADDRESS"></div>
	</div>
	<div class="weui_cell">
		<a href="javascript:;" class="weui_btn weui_btn_primary weui_btn_self"
			style="width: 80%;" ng-click="doSave();">确认支付</a>
	</div>
</div>
