<form class="form-horizontal form-horizontal-condensed" >

<div class="panel panel-default" >
  <div class="panel-body" style="min-height: 680px;padding: 30px;width: 100%"  >
	<table align="center"  style="width: 80%">
		<tr>
			<td valign="top" >
				<table class="table-striped table-from-big"  style="width: 100%">
					<tbody>
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>文件附件</h4>
							</td>
						</tr>
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
							<span class="uploadfile" style=""></span>&nbsp;
							</td>
						</tr>
					</tbody>
					
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<button type="button" class="btn btn-info" ng-click="fileClick();">在线预览</button> 
				      		 &nbsp; 
				      		<button type="button" class="btn btn-success" ng-click="downLoadClick();">下载</button>
						</td>
					</tr> 
					
					<tbody >
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
								<h4>松江区教育科研项目结题表详情</h4>
							</td>
						</tr>
						<tr>
						<td style="width: 15%"  align="right">申请编号：</td>
						<td style="width: 35%">
							{{form.APPLY_CODE}}
						</td>
						<td style="width: 15%"  align="right">项目名称：</td>
						<td style="width: 35%">
							{{form.PROJECT_TITLE}}
						</td>
					</tr>
					
					<tr>
						<td style="width: 15%"  align="right">申报类别：</td>
						<td style="width: 35%" ng-switch on="form.PROJECT_TYPE">
					        <!-- <span ng-switch-when="1">校级</span> -->
					        <span ng-switch-when="4">个人</span>
					        <span ng-switch-when="5">集体</span>
				         </td>
						<td style="width: 15%" align="right">项目级别：</td>
						<td style="width: 35%" ng-switch on="form.PROJECT_LEVEL">
					       <span ng-switch-when="1">校级</span>
				           <span ng-switch-when="2">区级</span>
				           <span ng-switch-when="3">市级</span>
				         </td>
					</tr>
					
					<tr>
						<td style="width: 15%"  align="right">负责人：</td>
						<td style="width: 35%">
							{{form.TEACHER_NAME}}
						</td>
						<td style="width: 15%"  align="right">工作单位：</td>
						<td style="width: 35%">
							{{form.TEACHER_SCHOOL_NAME}}
						</td>
					</tr>
					
					<tr>
						<td style="width: 15%"  align="right">申请经费：</td>
						<td style="width: 35%">
							{{form.PRICE}}
						</td>
						<td style="width: 15%"  align="right">预期最终成果：</td>
						<td style="width: 35%">
							{{form.EXPECT_RESULT}}
						</td>
					</tr>
					
					<tr>
						<td style="width: 15%"  align="right">填表日期：</td>
						<td style="width: 35%">
							{{form.APPLY_DATE}}
						</td>
						<td style="width: 15%"  align="right">预计完成时间：</td>
						<td style="width: 35%">
							{{form.FINISH_DATE}}
						</td>
					</tr>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h5>负责人</h5>
						</td>
					</tr>
					
					<tr>
						<td style="width: 15%"  align="right">姓名：</td>
						<td style="width: 35%">
							{{form.TEACHER_NAME}}
						</td>
						<td style="width: 15%"  align="right">性别：</td>
						<td style="width: 35%">
							{{form.TEACHER_GENDER}}
						</td>
					</tr>
					
					<tr>
						<td style="width: 15%"  align="right">职务：</td>
						<td style="width: 35%">
							{{form.TEACHER_JOB}}
						</td>
						<td style="width: 15%"  align="right">研究专长：</td>
						<td style="width: 35%">
							{{form.TEACHER_SKILL}}
						</td>
					</tr>
					
					<tr>
						<td style="width: 15%"  align="right">工作单位：</td>
						<td style="width: 35%" colspan="3">
							{{form.TEACHER_SCHOOL_NAME}}
						</td>
					</tr>
					
					<tr>
						<td style="width: 15%"  align="right">研究中承担工作：</td>
						<td style="width: 35%" colspan="3">
							{{form.USER_WORK}}
						</td>
					</tr>

					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h5>课题组成员分工</h5>
						</td>
					</tr>
					<tr>
					<td colspan="4" style="width: 100%">
						<div class="panel-body">
							<h5></h5>
							<table class="table table-hover table-striped table-bordered ">  
							  <thead>
								<tr>
									  <th column="TEACHER_NAME" class="sorting" ng-click="order($event.target)">姓名 </th>
									  <th column="TEACHER_GENDER" class="sorting" ng-click="order($event.target)">性别 </th>
									  <th column="JOB_TITLE" class="sorting" ng-click="order($event.target)">职务 </th>
									  <th column="SPECIALTY" class="sorting" ng-click="order($event.target)">研究专长 </th>
									  <th column="SCHOOL_NAME" class="sorting" ng-click="order($event.target)">工作单位 </th>
									  <th column="TEACHER_WORK" class="sorting" ng-click="order($event.target)">研究中所承担的工作 </th>
								</tr>
							  </thead>
							  <tbody >
								
								<tr ng-repeat='data in newTeacherList'>
									<td>{{data.TEACHER_NAME}}<input type="hidden" value="{{data.MEMBER_PK}}"></td>     
									<td>{{data.TEACHER_GENDER}}</td>   
									<td>{{data.JOB_TITLE}}</td>
									<td>{{data.SPECIALTY}}</td>     
									<td>{{data.SCHOOL_NAME}}</td>
									<td>
										{{data.TEACHER_WORK}}
									</td>
								</tr>
							  </tbody>
							  <tfoot>
							  </tfoot>
							</table>
						</div>		
					</td>
					</tr>
				</tbody>

				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h5>最终主成果情况</h5>
						</td>
					</tr>
					
					<tr>
						<td style="width: 15%"  align="right">成果名称：</td>
						<td style="width: 35%">
							{{form.PUBLISH_TITLE}}
						</td>
						<td style="width: 15%" align="right">成果形式：</td>
						<td style="width: 35%" ng-switch on="form.PUBLISH_SORT">
					       <span ng-switch-when="1">专著</span>
				           <span ng-switch-when="2">研究报告</span>
				           <span ng-switch-when="3">论文</span>
				           <span ng-switch-when="4">调查报告</span>
				           <span ng-switch-when="5">经验总结</span>
				           <span ng-switch-when="6">实验报告</span>
				           <span ng-switch-when="7">咨询报告</span>
				           <span ng-switch-when="8">其他</span>
				         </td>
					</tr>
					
					<tr>
						<td style="width: 15%"  align="right">主成果是否发表：</td>
						<td colspan="3" style="width: 35%" ng-switch on="form.PERIODICALS_FLAG">
					        <span ng-switch-when="1">是</span>
					        <span ng-switch-when="2">否</span>
				         </td>
					</tr>

					<tr id="publish" style="display:none;">	
						<td style="width: 15%"  align="right">期刊或出版社名称：</td>
						<td style="width: 35%" colspan="3">
							{{form.PERIODICALS_NAME}}
						</td>
						
					</tr>		
					
					<tr id="appear" style="display:none;">
						<td style="width: 15%"  align="right">刊号或书号：</td>
						<td style="width: 35%">
							{{form.PERIODICALS_NUMBER}}
						</td>
						<td style="width: 15%"  align="right">发表日期：</td>
						<td style="width: 35%">
							{{form.PERIODICALS_DATE}}
						</td>
					</tr>
					
				</tbody>

				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>课题终结时递交的材料目录</h4>
						</td>
					</tr>

					<tr>
						<td colspan="4" style="width: 100%">
							<div class="panel-body">
							<h5></h5>
							<table class="table table-hover table-striped table-bordered ">  
							  <thead>
								<tr>
									  <th column="DOCUMENT_SEQUENCE" class="sorting" ng-click="order($event.target)">序号 </th>
									  <th column="DOCUMENT_NUMBER" class="sorting" ng-click="order($event.target)">份数 </th>
									  <th column="DOCUMENT_NAME" class="sorting" ng-click="order($event.target)">文件材料名称 </th>
								</tr>
							  </thead>
							  <tbody >
								
								<tr ng-repeat='data in newFileList'>
									<td>{{data.DOCUMENT_SEQUENCE}} <input type="hidden" value="{{data.INDEX}}"></td>     
									<td>{{data.DOCUMENT_NUMBER}}</td>
									<td>{{data.DOCUMENT_NAME}}</td>        
								</tr>
							  </tbody>
							  <tfoot>
							  </tfoot>
							</table>
						</div>

						</td>
					
					</tr>
	
				</tbody>

				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>研究工作概况</h4>
						</td>
					</tr>
					<tr>
						<td colspan="4">			
						<div>
							<textarea style="border: 1px solid;border-color: black;font-size:15px;  "  cols="115" ng-model="form.WORK_DESCRIBE" rows="50" disabled="true">
							
							</textarea>
						</div>
						</td>
					</tr>

				</tbody>
				
				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>结题报告</h4>
						</td>
					</tr>
					<tr>
						<td colspan="4">			
						<div>
							<textarea style="border: 1px solid;border-color: black;font-size:15px;  "  cols="115" ng-model="form.FINAL_REPORT" rows="50" disabled="true">
							
							</textarea>
						</div>
						</td>
					</tr>
				</tbody>
				
				<tbody>
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
								<h4>审核意见</h4>
							</td>
						</tr>
						
						<tr>
							<td class="control-label"  align="right">单位意见：</td>
							<td  colspan="3" >
								<textarea rows="5" cols="112" ng-model="form.SCHOOL_CHECK_OPINION" disabled="true"></textarea>
							</td>		
						</tr>
						
						<tr>
							<td class="control-label"  align="right">区审批意见：</td>					
							<td  colspan="3" >
								<textarea rows="5" cols="112" ng-model="form.AREA_CHECK_OPINION" disabled="true"></textarea>
							</td>	
						</tr>
					<tbody >
					
					<tbody>
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
								<h4>专家对成果鉴定意见</h4>
							</td>
						</tr>
						<tr>
							<td colspan="4">			
							<div>
								<textarea style="border: 1px solid;border-color: black;font-size:15px;  "  cols="115" ng-model="form.EXPERT_OPINION" rows="25" disabled="true">
								</textarea>
							</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" >
				<hr/>
			</td>
		</tr>
		
		<tr>
			<td valign="top" style="text-align: center;">
	      		<button type="button" class="btn btn-default" ng-click="goback();">返回</button>
			</td>
		</tr>
		 
	</table>
	
  </div>
  
</div>

</form>

