/* label 字体大小修改  整体宽度修改 */
.label {
	font-size: 14px;
	width: 75px;
	text-align: center;
}
/* 所有的input 字体大小修改  */
.label-input {
	font-size: 14px;
}
/* 页面顶部button样式 */
.bom-radio {
	position: absolute;
	width: 50px;
	font-size: 14px;
	color: #4c4c4c;
	text-align: center;
	border-radius: 25px;
	transform: translateX(-100%);
	border: 1px solid #c7c7c7;
}

.bom-radio-big {
	width: 70px;
	border-radius: 40px;
}

.weui-header-self {
	margin-left: 10px !important;
	width: 160px !important;
	color: #0D0D0D !important;
	font-size: 17px !important;
}

.icon-checkbox-self {
	margin-top: 4px !important;
	margin-right: 0 !important;
}

.li-checkbox-self {
	margin: 0;
}

.list_bd {
	float: left;
}

.pl {
	width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; /*加宽度width属来兼容部分浏览*/
}

/**	lupishan	**/
.tablessetting-weui_hd_self {
	padding-left: 20px;
}

.tablessetting-weui_select:after {
	content: " ";
	display: inline-block;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	height: 6px;
	width: 6px;
	border-width: 2px 2px 0 0;
	border-color: #c7c7cc;
	border-style: solid;
	position: relative;
	top: -2px;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -4px;
}

.tablessetting-label {
	width: auto;
	min-width: 75px;
	text-align:left;
	padding:0 8px;
}

.tablessetting-font-style {
	color: #363636;
	font-size: 14px;
	font-family: arial, sans-serif;
}

.tablessetting-small-font {
	display: flex;
	justify-content: center;
	align-items: Center;
	font-size: 13px;
}

.tablessetting-red-font {
	color: #EF4F4F;
}

.tablessetting-gray-font {
	color: #999;
}

.tablessetting-font-style .weui_cell_bd .weui_cell_bd {
	padding: 11px 10px;
}

.tablessetting-font-style .slideleft span {
	padding: 0 24px;
}

.location-center{
	display:flex;
	align-items: center;
	justify-content: center;
}

.dcxt-font-overflow span{
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
}

.dcxt-right-label{
	text-align:right;
	font-size:14px;
}

.dcxt_weui_cells .weui_cell{
	    padding: 12px 15px;
}

/** end **/