<form class="form-horizontal form-horizontal-condensed" >

<div class="panel panel-default" >
  <div class="panel-body" style="min-height: 680px;padding: 30px;width: 100%"  >
	<table align="center"  style="width: 80%">
		
		<tr>
			<td valign="top" >
				<table class="table-striped table-from-big"  style="width: 100%">
					<tbody>
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
								<h4>申请书专家评审</h4>
							</td>
						</tr>
				
						<tr>
							<td class="control-label"  align="right">评分：</td>
							<td  class="form-group has-feedback" >
								<input class="form-control" type="text" ng-model="form.EXPERT_MARK" >
							</td>
							<td class="control-label"  align="right"></td>
							<td  class="form-group has-feedback" >
							</td>
						</tr>
						
						<tr>
							<td class="control-label"  align="right">评审意见：</td>
							<td  colspan="3" >
								<textarea rows="5" cols="115" ng-model="form.EXPERT_OPTION"></textarea>
							</td>	
						</tr>			
					</tbody>	
					<tr>
						<td valign="top" style="text-align: center;" colspan="4">
							<button type="button" class="btn btn-info" ng-click="check();">审核</button>
							&nbsp; 
	      					<button type="button" class="btn btn-default" ng-click="goback();" id="">返回</button>
						</td>
					</tr>
					<tbody >
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> 松江区教育科学研究项目申请书</h4>
						</td>
					</tr>
					<tr>
						<td class="control-label"  align="right">项目名称：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.PROJECT_TITLE"  disabled="true" >
						</td>
						<td class="control-label"  align="right">申请编号：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.APPLY_CODE"  disabled="true" >
						</td>
					</tr>
					
					<tr>
						<td class="control-label"  align="right">申报类别：</td>
						<td class="form-group has-feedback" >
						<select class="form-control xbclass"  ng-model="form.PROJECT_TYPE" disabled="true">
							  <option value="">==请选择==</option>
				              <option value="4">个人</option>
				              <option value="5">集体</option>
						</select>
						</td>
						<td class="control-label"  align="right">项目级别：</td>
						<td  class="form-group has-feedback" >
						<select class="form-control xbclass"  ng-model="form.PROJECT_LEVEL" disabled="true">
							  <option value="">==请选择==</option>
				              <option value="1">校级</option>
				              <option value="2">区级</option>
				              <option value="3">市级</option>
						</select>
						</td>
						
					</tr>

					<tr>
						<td class="control-label"  align="right">负责人：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.TEACHER_NAME"  disabled="true" >
						</td>
						<td class="control-label"  align="right">工作单位：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.TEACHER_SCHOOL_NAME"  disabled="true" >
						</td>
					</tr>
					
					<tr>
						<td class="control-label"  align="right">申请经费：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.PRICE"  disabled="true" >
						</td>
						<td class="control-label"  align="right">预期最终成果：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.EXPECT_RESULT"  disabled="true" >
						</td>
					</tr>
					
					<tr>
						<td class="control-label"  align="right">填表日期：</td>
						<td  class="form-group has-feedback" >
						<input type="text" class="form-control datepicker csrq"  ng-model="form.APPLY_DATE"  disabled="true" >
						</td>
						<td class="control-label"  align="right">预计完成时间：</td>
						<td  class="form-group has-feedback" >
						<input type="text" class="form-control datepicker csrq"  ng-model="form.FINISH_DATE" disabled="true" >
						</td>
					</tr>
				</tbody>
				
				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>六、研究方案(匿名)</h4>
						</td>
					</tr>
					<tr>
						<td colspan="4">			
						<div>
							<textarea style="border: 1px solid;border-color: black;font-size:15px;  "  cols="115" ng-model="form.PLANS" rows="50" disabled="true" >
							
							</textarea>
						</div>
						</td>
					</tr>
				</tbody>
				
				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>八、文献综述(匿名)</h4>
						</td>
					</tr>
					<tr>
						<td colspan="4">			
						<div>
							<textarea style="border: 1px solid;border-color: black;font-size:15px;  "  cols="115" ng-model="form.INFORMATION_REVIEW" rows="50" disabled="true">
							
							</textarea>
						</div>
						</td>
					</tr>			
				</tbody>
				
				<tbody>
					<tr>
						<td class="control-label"  align="right">单位意见：</td>
						<td  colspan="3" >
							<textarea rows="5" cols="115" ng-model="form.SCHOOL_CHECK_OPINION" disabled="true"></textarea>
						</td>	
					</tr>
						
					<tr>
						<td class="control-label"  align="right">区审批意见：</td>	
						<td  colspan="3" >
							<textarea rows="5" cols="115" ng-model="form.AREA_CHECK_OPINION" disabled="true"></textarea>
						</td>		
					</tr>
						
					<tr>
						<td class="control-label"  align="right">经费：</td>
						<td colspan="3" >
							<textarea rows="5" cols="115"   ng-model="form.FINANCE_MONEY" disabled="true"></textarea>
						</td>	
					</tr>
				</tbody>
				</table>
			</td>
		</tr>
	</table>

  </div>
</div>

</form>

