
	<header class="weui-header" style="background-color:#FFFFFF">
		<div href="#" class="weui-header-left">
			<a class="icon icon-109" style="color: #0D0D0D !important;"></a>
		</div>

		<h1 class="weui-header-title weui-header-self">
			{{pageTitle}}
		</h1>
 
		<div class="weui-header-right" style="top: 0;">
			<div class="button_sp_area" style="padding: 12px 0;">
				<div class="bom-radio" id="attend2" ng-click="doSave()">保存</div>
			</div>
		</div>
	</header>



	
	<div class="weui_cells" >

		<div class="weui_cells weui_cells_form" style="margin-top: 0;">
			<div class="weui_cell">
				<div class="weui_cell_hd">
					<label class="weui_label label">分类名称</label>
				</div>
			<div class="weui_cell_bd weui_cell_primary">
				<input class="weui_input label-input" type="text"
					placeholder="输入分类名称" ng-model="form.TABLES_CATENAME">
			</div>
		</div>

		<div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label label">排序序号</label>
			</div>
			<div class="weui-cell_bd weui_cell_primary">
				<input class="weui_input label-input" id="pxxh_select" type="text"
					value="" ng-model="form.TABLES_PXXH">
				<!-- <div class="weui_cell_select" style="width: 100%;">
				<div class="weui_cell_bd weui_cell_primary">
					<select class="weui_select" name="select1"
						style="padding-left: 0;width: 100%;" ng-model="form.RPINTER_SPEED">
						<option ng-repeat="item in printer_speed" value="{{item.value}}">{{item.title}}</option>
					</select>
				</div>
			</div> -->
			</div>
		</div>

		<div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label label">单位 (桌)</label>
			</div>
			<div class="weui-cell_bd weui_cell_primary">
				<input class="weui_input label-input" id="dw_select" type="text"
					value="" ng-model="form.TABLES_NUM">
			</div>
			
		</div>

		<div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label label">是否启用</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<div class="weui-form">
					<div class="weui-form-li iblock li-checkbox-self">
						<input class="weui-form-checkbox" name="f2" id="g1" value="是"
								type="radio" ng-model="form.PRINTER_IS_USE"> 
						<label for="g1"> 
							<i class="weui-icon-radio icon-checkbox-self"
											style="margin: 0;">
							</i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>是</p>
							</div>
						</label>
					</div>
					<div class="weui-form-li iblock li-checkbox-self"
							style="margin-left: 15px;">
						<input class="weui-form-checkbox" name="f2" id="g2" value="否"
								type="radio" ng-model="form.PRINTER_IS_USE"> 
						<label for="g2"> 
							<i class="weui-icon-radio icon-checkbox-self"
										style="margin: 0;">	
							</i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>否</p>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div>

		<div class="weui_cell" style="flex-wrap:wrap;">	
			<div class="weui_cell_hd">
				<label class="weui_label label weui_cell_primary">分类备注</label>	
			</div>

					
			<div class="weui-form" style="margin: 0 -16px;">
				<div class="weui-form-li">
					<textarea class="weui-form-area" placeholder="请输入备注" name="f6" rows="5" cols="60" ng-model="form.TABLES_CATE_DESC"></textarea>
				</div>
			</div>
		</div>

	</div>

		
	