
<div class="weui-header" style="background-color:#FFFFFF"
	ng-show="isShow">
	<h1 class="weui-header-title weui-header-self">{{pageTitle}}</h1>
</div>
<div class="weui_cells weui_cells_form" style="margin-top: 0;">
	<div class="weui_cells_title">
		所在商铺:{{shopName}}
		<div style="float: right;">
			<a ng-click="toHref('shopList')">切换店铺</a>
		</div>
	</div>
	<div class="weui_grids grids-small">
		<a href="javascript:;" class="grid"
			ng-click="toHref('{{item.FUNCTION_URL}}', '{{item.FUNCTION_PK}}')"
			ng-repeat="item in functionList">
			<div class="weui_grid_icon">
				<img src="{{item.FUNCTION_ICON}}" alt="">
			</div>
			<p class="weui_grid_label" ng-bind="item.FUNCTION_NAME"></p>
		</a>
	</div>
</div>
