<form class="form-inline" style="margin-bottom:5px;">
	<div class="form-group">
		<label class=""> &nbsp; 成果名称：</label> 
		<input  class="form-control" type="text" ng-model="form.HARVEST_NAME" >
	</div>
	
	
	<div class="form-group">
		<label class=""> &nbsp; 开始时间：</label> 
		<input  class="form-control datepicker" type="text" ng-model="form.START_TIME" >
	</div>
	
	<div class="form-group">
		<label class=""> &nbsp; 结束时间：</label> 
		<input  class="form-control datepicker" type="text" ng-model="form.END_TIME" >
	</div>

	<button ng-click="select()" type="button" class="btn btn-default"> 
	<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查询 
	</button>
</form>


<div class="panel panel-info" style="margin-top: 5px;">
  		
	 <table class="table table-hover table-striped table-bordered ">  
	      <thead>
	        <tr>
	        	  <th style="width: 40px;">选择</th>
		          <th column="HARVEST_NAME" class="sorting" ng-click="order($event.target)">成果名称</th>
		          <th column="AUTHOR" class="sorting" ng-click="order($event.target)">著作者(第一作者) </th>
		          <th column="HARVEST_TYPE" class="sorting" ng-click="order($event.target)">成果形式 </th>
		          <th column="PUBLISH_ADDRESS" class="sorting" ng-click="order($event.target)">发表刊物或出版单位</th>
		          <th column="PUBLISH_DATE" class="sorting" ng-click="order($event.target)">发表出版时间</th>       
        </tr>
	      </thead>
	      <tbody  ng-switch on="page.current_num" class="ZTCLASS">
	      	<tr ng-switch-when="0">
	      		<td colspan="100" class="NoSelectHistory">查询无记录</td>
	      	</tr>
	        <tr ng-repeat='data in dataList'>
	        	<td>
		       <input type="checkbox" name="dataPk" value="{{data.TEACHER_RESULT_PK}}">
                </td>
                <td>{{data.HARVEST_NAME}}</td>
                <td>{{data.AUTHOR}}</td>
	        	<td>{{data.HARVEST_TYPE}}</td>
	        	<td>{{data.PUBLISH_ADDRESS}}</td>
	        	<td>{{data.PUBLISH_DATE}}</td>      
	        </tr>
	      </tbody>
	      <tfoot>
	      	<tr>
	      		<td colspan="100">
	      		<div ng-include="'html/page.html'"></div>
				</td>
	      	</tr>
	      </tfoot>
	    </table>
 		</div>
    