<style>
	.slidelefts .weui_cell_bd:active{
		background-color:#ececec;
	}
	.slidelefts .weui_cell_bd{
		background-color: inherit;
	}
</style>
	<div class="weui-header" style="background-color:#FFFFFF">
		<div href="#" class="weui-header-left" ng-click="toHref('DailyManagement/tables/catelist')">
			<a class="icon icon-109"></a>
		</div>
		<h1 class="weui-header-title weui-header-self">{{pageTitle}}</h1>
		<div class="weui-header-right" style="top: 0;">
			<div class="button_sp_area" style="padding: 12px 0;">
				<div class="bom-radio" id="attend2" ng-click="toHref('DailyManagement/tables/catelist/tableslist/setting', '')">添加</div>
			</div>
		</div>
	</div>
		
	<div class="weui_cells  tablessetting-font-style" style="margin-top:1px;" ng-show="pageShow">
		<div class="weui_cell slidelefts"  ng-repeat="item in tables_list">
			<div class="weui_cell_bd weui_cell_primary slideleft_cell_bd animated" style="display:flex;;transform: translateX(0px);" ng-click="toHref('DailyManagement/tables/catelist/tableslist/setting',item.TABLES_PK)">
				<div class="weui_cell_bd " style="margin-right:10px;">
					{{$index+1}}
				</div>
							
				<div class="weui_cell_bd weui_cell_primary">
					{{item.TABLES_SHORT_NAME == undefined || item.TABLES_SHORT_NAME == "" ? item.TABLES_NAME : item.TABLES_SHORT_NAME}}
				</div>
				<div class="weui_cell_bd tablessetting-small-font {{item.TABLES_STATUS == 1 ? 'tablessetting-gray-font':'tablessetting-red-font'}}" dir="rtl">
					{{item.TABLES_STATUS == 1 ? '已启用':'已停用'}}
				</div>
				<div class="weui_cell_bd" dir="rtl" style="width: 22%;">
					{{item.TABLES_NUM}}人/桌
				</div>					
			</div>

		     <div class="slideleft">
               <!--  <span class="switch_stop" style="background:#ccc;color:#fff" >修改</span> -->
                <span class="bg-red f-white dels" id="delete-table-list" ng-click="tablesDelete(item.TABLES_PK)">删除</span>
             </div>
		</div>
	</div>			
	
	<div class="weui-loadmore" ng-hide="pageShow">
		<i class="weui-loading"></i>
		<span class="weui-loadmore-tips">正在加载</span>
	</div>