
	<div class="weui-header"  style="background-color:#FFFFFF">
		<div class="weui-header-left">
			<a class="icon icon-109" style="color: #0D0D0D !important;"></a>
		</div>
		<h1 class="weui-header-title weui-header-self">{{pageTitle}}</h1>
		<div class="weui-header-right" style="top: 0;">
			<div class="button_sp_area" style="padding: 12px 0;">
				<div class="bom-radio" id="attend2" ng-click="doSave()">添加</div>
			</div>
		</div>
	</div>
	<div class="weui_cells " style="margin-top:0">
		<div class="weui_cell slidelefts" ng-repeat="item in account_list">
			<div class="weui_cell_bd weui_cell_primary slideleft_cell_bd">
				<div class="weui_cell_bd " style="float:left;width:30%;">
					<span>{{item.wxNumber}}</span>
				</div>
				<div class="weui_cell_bd " style="float:left;width:26%;">
					<span>{{item.wxName}}</span>
				</div>
				<div class="weui_cell_bd " style="float:left;width:16%;">
					<span>{{item.realName}}</span>
				</div>
			</div>
			<div class="slideleft">
				<span class="bg-red f-white dels">解除绑定</span> <!-- <span
					class="bg-red f-white dels">删除</span> -->
			</div>
		</div>
		<div class="weui_cell">
				<span style="font-size:13px;margin-left:50%;color:#a6a4a5">向左滑动可以解除绑定的微信</span>
		</div>
	</div>