
	<div class="weui-header" style="background-color:#FFFFFF">
		<div href="#" class="weui-header-left" ng-click="toHref('DailyManagement/tables/catelist')">
			<a class="icon icon-109" style="color: #0D0D0D !important;"></a>
		</div>

		<h1 class="weui-header-title weui-header-self">{{pageTitle}}</h1>
 
		<div class="weui-header-right" style="top: 0;">
			<div class="button_sp_area" style="padding: 12px 0;">
				<div class="bom-radio" id="attend2" ng-click="doSave()">保存</div>
			</div>
		</div>
	</div>

	
	<div class="weui_cells weui_cells_form"  style="margin-top: 0;">
			<div class="weui_cell">
				<div class="weui_cell_hd">
					<label class="weui_label label tablessetting-label">分类名称</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<input class="weui_input tablessetting-weui_hd_self label-input" type="text"
						placeholder="输入分类名称" ng-model="form.CATESETTING_CATE_NAME">
				</div>
			</div>

			<div class="weui_cell tablessetting-weui_select">
				<div class="weui_cell_hd">
					<label class="weui_label label tablessetting-label">排序序号</label>
				</div>
				<div class="weui-cell_bd  weui_cell_primary">
					<input class="weui_input tablessetting-weui_hd_self label-input" id="pxxh_select" type="text"
						value="" ng-model="form.CATESETTING_PXXH">
				</div>
			</div>

			<div class="weui_cell">
				<div class="weui_cell_hd">
					<label class="weui_label label tablessetting-label">单位 (桌)</label>
				</div>
				<div class="weui_cell_bd  weui_cell_primary">
					<input class="weui_input tablessetting-weui_hd_self label-input" id="dw_select" type="text"
						placeholder="输入桌位个数" value="" ng-model="form.CATESETTING_TABLES_NUM">
				</div>
			</div>

			<div class="weui_cell">
				<div class="weui_cell_hd">
						<label class="weui_label label tablessetting-label">是否启用</label>
					</div>
					<div class="weui_cell_bd tablessetting-weui_hd_self weui_cell_primary">
						<div class="weui-form">
							<div class="weui-form-li iblock li-checkbox-self">
								<input class="weui-form-checkbox" name="f2" id="g1" value="是"
									type="radio" ng-model="form.CATESETTING_IS_USE"> 
									<label for="g1"> 
										<i class="weui-icon-radio icon-checkbox-self"
												style="margin: 0;">
										</i>
										<div class="weui-form-text label-input" style="margin: 0;">
											<p>是</p>
										</div>
								</label>
							</div>
							<div class="weui-form-li iblock li-checkbox-self"
								style="margin-left: 10px;">
								<input class="weui-form-checkbox" name="f2" id="g2" value="否"
									type="radio" ng-model="form.CATESETTING_IS_USE"> 
									<label for="g2"> 
										<i class="weui-icon-radio icon-checkbox-self"
											style="margin: 0;">	
										</i>
										<div class="weui-form-text label-input" style="margin: 0;">
											<p>否</p>
										</div>
								</label>
							</div>
						</div>
					</div>
				</div>
	
				<div class="weui_cell" style="flex-wrap:wrap;">	
					<div class="weui_cell_hd">
						<label class="weui_label label weui_cell_primary tablessetting-label">分类备注</label>	
					</div>
				</div>
				
				<div class="weui_cell">
	                <div class="weui_cell_bd weui_cell_primary">
	                    <textarea style="padding:0 12px;" id="textarea" class="weui_textarea" placeholder="请输入备注（选填）" rows="3" ng-model="form.CATESETTING_DESC"></textarea>
	                    <div class="weui_textarea_counter"><span id="count">{{font_count}}</span>/<span id="count_max">20</span></div>
	                </div>
	            </div>
		</div>

