<form class="form-horizontal form-horizontal-condensed" >
	<div class="form-group">
		<label class="col-sm-5 control-label"> &nbsp; </label> 
		<div class="col-sm-6">
		<h1>请&nbsp;选&nbsp;择</h1>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-5 control-label"> &nbsp; </label> 
		<div class="col-sm-6">
		<input type="button" value="教 科 研 申 请 书" class="btnL" ng-click="showExp(1)" onmouseover="this.style.backgroundColor='#888888';" onmouseout="this.style.backgroundColor='#DDDDDD';" style="background-color: rgb(221, 221, 221);">
		</div>
	</div>
	
	
	
	<div class="form-group">
		<label class="col-sm-5 control-label"> &nbsp; </label> 
		<div class="col-sm-6">
		<input type="button" value="教 科  开 题 报 告" class="btnL" ng-click="showExp(2)" onmouseover="this.style.backgroundColor='#888888';" onmouseout="this.style.backgroundColor='#DDDDDD';" style="background-color: rgb(221, 221, 221);">
		</div>
	</div>
	
	
	
	<div class="form-group">
		<label class="col-sm-5 control-label"> &nbsp; </label> 
		<div class="col-sm-6">
		<input type="button" value="教 科 中 期 报 告" class="btnL" ng-click="showExp(3)" onmouseover="this.style.backgroundColor='#888888';" onmouseout="this.style.backgroundColor='#DDDDDD';" style="background-color: rgb(221, 221, 221);">
		</div>
	</div>
	

	<div class="form-group">
		<label class="col-sm-5 control-label"> &nbsp; </label> 
		<div class="col-sm-6">
		<input type="button" value="教 科 结 题 报 告" class="btnL" ng-click="showExp(4)" onmouseover="this.style.backgroundColor='#888888';" onmouseout="this.style.backgroundColor='#DDDDDD';">
		</div>
	</div>
	

	
</form>