
<div class="weui-header" style="background-color:#FFFFFF">
	<div class="weui-header-left">
		<a class="icon icon-109" style="color: #0D0D0D !important;"  href="toHref('welcome');"></a>
	</div>
	<h1 class="weui-header-title weui-header-self">{{pageTitle}}</h1>
	<div class="weui-header-right" style="top: 0;">
		<div class="button_sp_area" style="padding: 12px 0;">
			<div class="bom-radio" id="attend2" ng-click="doSave()">保存</div>
		</div>
	</div>
</div>
<div class="weui_cells weui_cells_form" style="margin-top: 0;">
	<div class="weui_grids grids-small">
		<a href="javascript:;" class="grid" ng-click="toHref('SystemSetup/BasicSetting/platform')">
			<div class="weui_grid_icon">
				<img src="/dcxt/assets/weui/images/icon_nav_button.png" alt="">
			</div>
			<p class="weui_grid_label">公众平台</p>
		</a>
	</div>
</div>