<form class="form-horizontal form-horizontal-condensed" >

<div class="panel panel-default" >
  <div class="panel-body" style="min-height: 680px;padding: 30px;width: 100%"  >
	<table align="center"  style="width: 80%">
		<tr>
			<td valign="top" >
				<table class="table-striped table-from-big"  style="width: 100%">
					<tbody>
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
							<span style="color: red;">请上传附件文件(WORD、PPT、PDF)</span>
							</td>
						</tr>
						
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
							<input type="file" name="uploadifyfile" id="uploadifyfile" />
							</td>
						</tr>
						
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
							<span class="uploadfile" style=""></span>&nbsp;<span class="uploadresult" style="color: red; display:none;" >上传成功</span>
							</td>
						</tr>
					</tbody>
					
					<tbody >
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>松江区教育科学研究项目中止研究、延期结题登记表</h4>
						</td>
					</tr>
					<tr>
						<td class="control-label"  align="right">申请编号：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.APPLY_CODE"  disabled="true" >
						</td>
						<td class="control-label"  align="right">项目名称：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.PROJECT_TITLE"  disabled="true" >
						</td>
					</tr>
					
					<tr>
						<td class="control-label"  align="right">申报类别：</td>
						<td class="form-group has-feedback" >
						<select class="form-control xbclass"  ng-model="form.PROJECT_TYPE" disabled="true">
							  <option value="">==请选择==</option>
				              <option value="4">个人</option>
				              <option value="5">集体</option>
						</select>
						</td>
						<td class="control-label"  align="right">项目级别：</td>
						<td  class="form-group has-feedback" >
						<select class="form-control xbclass"  ng-model="form.PROJECT_LEVEL" disabled="true">
							  <option value="">==请选择==</option>
				              <option value="1">校级</option>
				              <option value="2">区级</option>
				              <option value="3">市级</option>
						</select>
						</td>
						
					</tr>

					<tr>
						<td class="control-label"  align="right">负责人：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.TEACHER_NAME"  disabled="true" >
						</td>
						<td class="control-label"  align="right">工作单位：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.TEACHER_SCHOOL_NAME"  disabled="true" >
						</td>
					</tr>
					
					<tr>
						<td class="control-label"  align="right">申请经费：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.PRICE"  disabled="true" >
						</td>
						<td class="control-label"  align="right">预期最终成果：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.EXPECT_RESULT"  disabled="true" >
						</td>
					</tr>
					
					<tr>
						<td class="control-label"  align="right">填表日期：</td>
						<td  class="form-group has-feedback" >
						<input type="text" class="form-control datepicker csrq"  ng-model="form.APPLY_DATE"  disabled="true" >
						</td>
						<td class="control-label"  align="right">预计完成时间：</td>
						<td  class="form-group has-feedback" >
						<input type="text" class="form-control datepicker csrq"  ng-model="form.FINISH_DATE" disabled="true" >
						</td>
					</tr>
				</tbody>

				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>一、变更信息</h4>
						</td>
					</tr>
					
					<tr>	
						<td class="control-label" align="right" >变更类别：</td>
						<td class="form-group has-feedback" >
							<select class="form-control xbclass"  ng-model="form.DELAY_SORT" not-null="yes" ng-change=delayChange();>
								<option value="">--请选择--</option>
								<option value="1">终止</option>
								<option value="2">延期</option>
							</select>
					   </td>
					   <td class="control-label" align="right" ></td>
						<td class="form-group has-feedback" >	
						  
						</td>	
					</tr>
					<tr id="break" style="display:none;">	
						<td class="control-label" align="right" >科研中止原因：</td>
						<td >
				              <input type="checkbox" name="discontinue" value="1"/>负责人变动&nbsp;&nbsp;
				              <input type="checkbox" name="discontinue" value="2"/>方案变动&nbsp;&nbsp;
				              <input type="checkbox" name="discontinue" value="3"/>主要成员变动&nbsp;&nbsp;
				              <input type="checkbox" name="discontinue" value="4" />经费问题&nbsp;&nbsp;
					          <input type="checkbox" name="discontinue" value="5" />其它
			             </td>
						<td class="control-label" align="right" ></td>
						<td class="form-group has-feedback" >
						</td>
					</tr>		
					
					<tr id="delay" style="display:none;">
						<td class="control-label" align="right" >科研延期原因：</td>
						<td >
				              <input type="checkbox" name="extension" value="1"/>负责人工作调动&nbsp;&nbsp;
				              <input type="checkbox" name="extension" value="2"/>学校（园）工作调整&nbsp;&nbsp;
				              <input type="checkbox" name="extension" value="3"/>经费问题&nbsp;&nbsp;
				              <input type="checkbox" name="extension" value="4" />其它
			             </td>
						<td class="control-label" align="right" >项目延期至：</td>	
						<td class="form-group has-feedback" >
							<input type="text" class="form-control datepicker csrq" ng-model="form.DELAY_DATE">
						</td>
					</tr>
				</tbody>
				
				<!-- <tr>
					<td colspan="4" style="height:100px;"></td>
				</tr> -->
				
				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>二、主要研究内容及研究进展情况</h4>
						</td>
					</tr>
					<tr>
						<td colspan="4">
						<div id="progress_ituation" name="progress_ituation" type="text/plain" style="width:100%;height:480px;">	
						</div>			
						</td>
					</tr>
				</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" >
				<hr/>
			</td>
		</tr>
		
		<tr>
			<td valign="top" style="text-align: center;">
				<button type="button" class="btn btn-info" ng-click="save();">保存</button>
	      		 &nbsp; 
	      		<button type="button" class="btn btn-default" ng-click="goback();" id="">返回</button>
			</td>
		</tr> 
	</table>

  </div>
</div>


</form>

