<style>
	.customermanagement_navbar div{
		border-left:1px solid #F0F0F0;
		padding: 9px 0;
		display:flex;
		justify-content: center;
        font-size: 15px;
	}
	
	.weui_search_bar {
    	padding: 6px 6px;
	}
	
	.weui_search_outer:after {
	    border: 0px solid #e6e6ea;
	}
	
	.weui_search_outer:after {
    	border-radius: 0px;
	}
	
	
	.slidelefts .weui_cell_bd:active{
		background-color:#ececec;
	}
	
	.slidelefts .weui_cell_bd{
		background-color: inherit;
	}
	

	
	
</style>
<div style="position: fixed;height:45px;z-index:100;width:100%;">
	<div class="weui_navbar customermanagement_navbar" style="margin-left:-1px;height:45px;">
		<div class="weui_navbar_item  tab-blue">
	                    客户管理
		</div>
		<div class="weui_navbar_item" ng-click="toHref('ActingCustomerManagement/commissionRecord','')">
	                    提成记录
		</div>
		<div class="weui_navbar_item" ng-click="toHref('ActingCustomerManagement/tradingRecord','')">
	                    交易记录
		</div>
		<div class="weui_navbar_item" ng-click="toHref('ActingCustomerManagement/agentInformation','')">
	                    代理信息
		</div>
	</div>
</div>

<div style="position:absolute;top:44px;width:100%;font-size:14px;font-size:14px;">
	 <div class="searchbar_wrap" style="display:flex;background-color:#fff;width:100%"> 
		<div class="weui_search_bar" style="background-color:#fff; width:100%;height:40px;">
			<form class="weui_search_outer" style="border-radius: 0;border:0;width:75%;">
				<div class="weui_search_inner location-center" style="padding-left:37px;">
					<i class="weui_icon_search"></i>
					<span style='height:60%;width:1px;background-color:#f3f3f3; position: absolute;left: 30px;'></span>
					<input type="search" class="weui_search_input tablessetting-small-font" id="weui_search_input" placeholder="输入关键字搜索" required 
						ng-model="input_value" >
					<a href="javascript:" class="weui_icon_clear"></a>
				</div>
			</form>
			
			<div class="location-center" style="text-align:center;width:25%;height:auto;">
					<div class="bom-radio" id="attend2" ng-click="toHref('ActingCustomerManagement/addBusiness','')" style="transform: translateX(0);width:auto;padding: 0 13px;">
						<span  style="font-size:12px;">
							添加用户
						</span>
					
					</div>
			</div>
	 	</div>
	</div>


	<div class="weui_cells tablessetting-font-style dcxt-font-overflow" style="margin-top:0px;" ng-show="pageShow">
		<div class="weui_cell slidelefts" ng-repeat="item in customer_information_list | filter:input_value">		
			<div class="weui_cell_bd weui_cell_primary slideleft_cell_bd animated" style="padding:2px 15px; display:flex;transform: translateX(0px);")" ng-click="toHref('ActingCustomerManagement/addBusiness','{{item.SHOP_ID}}')">	
				
				<div class="weui_cell_bd" style="margin-right:10px;width:20%;">
					<div ng-switch on = "{{item.SHOP_STATE}}">
						<span ng-switch-when = "0" style="color:red">未认领</span>
						<span ng-switch-default>{{item.USER_SN}}</span>
					</div>
					
					<div >
						<span>{{item.DAYS}}</span>
					</div>
					
					
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<div >
						<span>{{item.SHOP_NAME}}</span>
					</div>
					<div ng-switch on = "{{item.SHOP_STATE}}">
						<span ng-switch-when = "0">无</span>
						<span ng-switch-default>{{item.USER_NAME}}</span>
					</div>
				</div>
				<div class="weui_cell_bd " dir="rtl">
					<div >
						<span>{{item.SERVICE_TYPE}}</span>
					</div>
					<div >
						<span>{{item.SHOP_TEL}}</span>
					</div>
				</div>	
			</div>
					
			
			<div class="slideleft" ng-switch="item.SHOP_STATE">
    			<span ng-switch-when="0" style="background:#FF832E;color:#fff;" ng-click="toHref('ActingCustomerManagement/shopclaim', '{{item.SHOP_ID}}')">商户认领</span>
    			<span ng-switch-when="1" style="background:#ccc;color:#fff;">认领完成</span>
	        	<span class="bg-red f-white dels" id="delete-table-cate" ng-click="toHref('ActingCustomerManagement/buyService','{{item.SHOP_ID}}')">购买服务</span>
			</div>
		
	</div>
	
		<div class="weui_cell">
			<div class="weui_cell_bd weui_cell_primary" dir="rtl">
					<span style="color:#B2B2B2;font-size: 11px;" >
						提示:向左边滑动操作商铺</span>
			</div>
		</div>
	
	<div class="weui-loadmore" ng-hide="pageShow">
		<i class="weui-loading"></i>
		<span class="weui-loadmore-tips">正在加载</span>
	</div>
			
</div>

