<style>
	.slidelefts .weui_cell_bd:active{
		background-color:#ececec;
	}
	.slidelefts .weui_cell_bd{
		background-color: inherit;
	}
</style>
	<div class="weui-header" style="background-color:#FFFFFF">
		<div href="#" class="weui-header-left" ng-click="toHref('SystemSetup/BasicSetting/favourablePay/baseList','')">
			<a class="icon icon-109" ></a>
		</div>

		<h1 class="weui-header-title weui-header-self">{{pageTitle}}</h1>
		<div class="weui-header-right" style="top: 0;">
			<div class="button_sp_area" style="padding: 12px 0;">
				<!-- <div class="bom-radio bom-radio-big" ng-click="toHistory()" style="transform: translateX(-260%);">优惠记录</div> -->
				<div class="bom-radio" style="transform: translateX(-210%);" id="attend2" ng-click="reset()">重置</div>
			<div class="bom-radio" id="attend2" ng-click="doEdit()">修改</div>
			</div>
		</div>
	</div>

	<div class="weui_cells weui_cells_form" style="margin-top: 0;">
		<div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label label">优惠名称</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<input class="weui_input label-input" style="text-align: right" placeholder="请输入活动名称" ng-model="form.rule_name" type="text" id="rule_name">
			</div>
		</div>
		<div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label label">排序序号</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<input class="weui_input label-input" style="text-align: right" placeholder="请输入排序序号" ng-model="form.rule_order" type="text" id="rule_order">
			</div>
		</div>
		<div class="weui_cell">
		<div class="weui_cell_hd">
			<label class="weui_label label">是否启用</label>
		</div>
		<div class="weui_cell_bd weui_cell_primary">
			<div class="weui-form">
				<div class="weui-form-li iblock li-checkbox-self">
					<input ng-click="isUser('1')" class="weui-form-checkbox" name="is_use" id="g1" value="1"
						type="radio" ng-model="form.is_use"> <label
						for="g1"> <i class="weui-icon-radio icon-checkbox-self"
						style="margin: 0;"></i>
						<div class="weui-form-text label-input" style="margin: 0;">
							<p>是</p>
						</div>
					</label>
				</div>
				<div class="weui-form-li iblock li-checkbox-self"
					style="margin-left: 10px;">
					<input ng-click="isUser('0')" class="weui-form-checkbox" name="is_use" id="g2" value="0"
						type="radio" ng-model="form.is_use"> <label
						for="g2"> <i class="weui-icon-radio icon-checkbox-self"
						style="margin: 0;"></i>
						<div class="weui-form-text label-input" style="margin: 0;">
							<p>否</p>
						</div>
					</label>
				</div>
			</div>
		</div>
	</div>
		<div class="weui_cell">
		<div class="weui_cell_hd">
			<label class="weui_label label">优惠方式</label>
		</div>
		<div class="weui_cell_bd weui_cell_primary">
			<div class="weui-form">
				<div class="weui-form-li iblock li-checkbox-self">
					<input ng-click="checkRuleModel('1')" class="weui-form-checkbox" name="rule_model" id="rule_model_1" value="0"
						type="radio" ng-model="form.yhfs_zkyh"> <label
						for="rule_model_1"> <i class="weui-icon-radio icon-checkbox-self"
						style="margin: 0;"></i>
						<div class="weui-form-text label-input" style="margin: 0;">
							<p>折扣优惠</p>
						</div>
					</label>
				</div>
				<div class="weui-form-li iblock li-checkbox-self"
					style="margin-left: 10px;">
					<input ng-click="checkRuleModel('2')" class="weui-form-checkbox" name="rule_model" id="rule_model_2" value="0"
						type="radio" ng-model="form.yhfs_gdmj"> <label
						for="rule_model_2"> <i class="weui-icon-radio icon-checkbox-self"
						style="margin: 0;"></i>
						<div class="weui-form-text label-input" style="margin: 0;">
							<p>固定满减</p>
						</div>
					</label>
				</div>
				<div class="weui-form-li iblock li-checkbox-self"
					style="margin-left: 10px;">
					<input ng-click="checkRuleModel('3')" class="weui-form-checkbox" name="rule_model" id="rule_model_3" value="0"
						type="radio" ng-model="form.yhfs_sjmj"> <label
						for="rule_model_3"> <i class="weui-icon-radio icon-checkbox-self"
						style="margin: 0;"></i>
						<div class="weui-form-text label-input" style="margin: 0;">
							<p>随机满减</p>
						</div>
					</label>
				</div>
			</div>
		</div>
	</div>
	
	<div class="weui_cell " style="background-color:;width:46%;height:44px;float:left;margin-left:2%;padding:0">
			 <div class="weui_cell_bd"><label class="weui_label label">金额范围</label></div>
		</div>
		 <div class="weui_cell " style="background-color:;height:44px;margin-right:2%;padding:0">
                <div class="weui_cell_hd"><label class="weui_label label">优惠范围</label></div>
                <div class="weui_cell_bd" style="margin-left:20%">
                	<!-- <i class="icon-plus-sign" style="color:#04be02"></i> -->
                </div>
         </div>
        <div class="weui_cell rule_model_1" style="width:40%;height:44px;float:left;padding-right:0">
			<div class="weui_cell_bd" style="float: left">
				<label style="font-size:90%;width:45px" class="weui_label label">消费</label>
			</div>
			<div class="weui_cell_bd" style="float: left">
				<input ng-model="form.yh_zkxf" class="weui_input label-input" style="border-bottom: 1px solid #dbdbdb;width:45px" type="text" value="" >
			</div>
			<div class="weui_cell_bd" style="float: left">
				<label style="font-size:90%;width:45px" class="weui_label label">元，</label>
			</div>
		</div>
		 <div class="weui_cell rule_model_1" style="width:45%;height:44px;">
                <div class="weui_cell_bd" style="float: left">
				<label style="font-size:90%;width:85px" class="weui_label label">折扣优惠</label>
			</div>
			<div class="weui_cell_bd" style="float: left">
				<input ng-model="form.yh_zkyh" class="weui_input label-input" style="border-bottom: 1px solid #dbdbdb;width:45px" type="text" value="" >
			</div>
			<div class="weui_cell_bd" style="float: left">
				<label style="font-size:90%;width:45px" class="weui_label label">折</label>
			</div>
         </div>
         
        <div class="weui_cell rule_model_2" style="width:40%;height:44px;float:left;padding-right:0">
			<div class="weui_cell_bd" style="float: left">
				<label style="font-size:90%;width:45px" class="weui_label label">消费</label>
			</div>
			<div class="weui_cell_bd" style="float: left">
				<input ng-model="form.yh_gdxf" class="weui_input label-input" style="border-bottom: 1px solid #dbdbdb;width:45px" type="text" value="" >
			</div>
			<div class="weui_cell_bd" style="float: left">
				<label style="font-size:90%;width:45px" class="weui_label label">元，</label>
			</div>
		</div>
		 <div class="weui_cell rule_model_2" style="width:45%;height:44px;">
                <div class="weui_cell_bd" style="float: left">
				<label style="font-size:90%;width:85px" class="weui_label label">固定减</label>
			</div>
			<div class="weui_cell_bd" style="float: left">
				<input ng-model="form.yh_gdj" class="weui_input label-input" style="border-bottom: 1px solid #dbdbdb;width:45px" type="text" value="" >
			</div>
			<div class="weui_cell_bd" style="float: left">
				<label style="font-size:90%;width:45px" class="weui_label label">元</label>
			</div>
         </div>
         
         <div class="weui_cell rule_model_3" style="width:40%;height:44px;float:left;padding-right:0">
			<div class="weui_cell_bd" style="float: left">
				<label style="font-size:90%;width:45px" class="weui_label label">消费</label>
			</div>
			<div class="weui_cell_bd" style="float: left">
				<input ng-model="form.yh_sjxf" class="weui_input label-input" style="border-bottom: 1px solid #dbdbdb;width:45px" type="text" value="" >
			</div>
			<div class="weui_cell_bd" style="float: left">
				<label style="font-size:90%;width:45px" class="weui_label label">元，</label>
			</div>
		</div>
		 <div class="weui_cell rule_model_3" style="width:45%;height:44px;">
                <div class="weui_cell_bd" style="float: left">
				<label style="font-size:90%;width:85px" class="weui_label label">随机减</label>
			</div>
			<div class="weui_cell_bd" style="float: left">
				<input ng-model="form.yh_sjj" class="weui_input label-input" style="border-bottom: 1px solid #dbdbdb;width:45px" type="text" value="" >
			</div>
			<div class="weui_cell_bd" style="float: left">
				<label style="font-size:90%;width:45px" class="weui_label label">元</label>
			</div>
         </div>

	<div class="weui_cell">
		<div class="weui_cell_hd">
			<label class="weui_label label">商品范围</label>
		</div>
		<div class="weui_cell_bd weui_cell_primary">
			<div class="weui-form">
				<div class="weui-form-li iblock li-checkbox-self">
					<input ng-click="good_scope('0')" class="weui-form-checkbox" name="good_scope" id="good_scope_1" value="0"
						type="radio" ng-model="form.good_scope"> <label
						for="good_scope_1"> <i class="weui-icon-radio icon-checkbox-self"
						style="margin: 0;"></i>
						<div class="weui-form-text label-input" style="margin: 0;">
							<p>全部商品</p>
						</div>
					</label>
				</div>
				<div class="weui-form-li iblock li-checkbox-self"
					style="margin-left: 10px;">
					<input ng-click="good_scope('1')" class="weui-form-checkbox" name="good_scope" id="good_scope_2" value="1"
						type="radio" ng-model="form.good_scope"> <label
						for="good_scope_2"> <i class="weui-icon-radio icon-checkbox-self"
						style="margin: 0;"></i>
						<div class="weui-form-text label-input" style="margin: 0;">
							<p>部分商品</p>
						</div>
					</label>
				</div>
			</div>
		</div>
	</div>		

<div class="weui_cell_bd goodType">
				<div class="weui-form">
					<div class="weui-form-li iblock li-checkbox-self" style="margin-left: 10px;"
						ng-repeat="item in goodType">
						<input class="weui-form-checkbox {{item.GTYPE_PK}}" name="f3" id="h{{$index + 1}}"
							value="{{item.GTYPE_NAME}}" type="checkbox" 
							ng-checked="item.checked" 
							ng-model="item.checked"
							ng-change="selectType(item)"> 
							<label for="h{{$index + 1}}"> <i class="weui-icon-checkbox icon-checkbox-self"
							style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0">
								<p>{{item.GTYPE_NAME}}</p>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div>

				<div class="weui_cell">
					<div class="weui_cell_hd">
						<label class="weui_label label">备注说明</label>
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<textarea class="weui_textarea" ng-change="remarkChange()" ng-model="form.remark" placeholder="1000字以内的图文说明" rows="3"></textarea>
			            <div class="weui_textarea_counter"><span>{{remarkNum}}</span>/1000</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	</div>

		