<form class="form-horizontal form-horizontal-condensed" >

<div class="panel panel-default" >
  <div class="panel-body" style="min-height: 680px;padding: 30px;width: 100%"  >
	<table align="center"  style="width: 80%">
		
		<tr>
			<td valign="top" >
				<table class="table-striped table-from-big"  style="width: 100%">
					<tbody>
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
								<h4>松江区教育科学研究项目中止研究、延期结题登记表校级审核</h4>
							</td>
						</tr>

						<tr>
							<td class="control-label"  align="right">审核意见：</td>			
							<td  colspan="3" >
								<textarea rows="5" cols="115" ng-model="form.SCHOOL_CHECK_OPINION"></textarea>
							</td>	
						</tr>
					</tbody>
					
					<tr>
						<td valign="top" style="text-align: center;" colspan="4">
							<button type="button" class="btn btn-success" ng-click="success();">通过</button>
					      	&nbsp; 
					      	<button type="button" class="btn btn-warning" ng-click="fail();">否决</button>
						</td>
					</tr>
					
					<tbody>
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
								<h4>审核详情</h4>
							</td>
						</tr>
						<tr>
						<td colspan="4" style="width: 100%">
							<div class="panel-body">
								<h5></h5>
								<table class="table table-hover table-striped table-bordered ">  
								  <thead>
									<tr>
										  <th column="CHECK_LEVELE" class="sorting" ng-click="order($event.target)">审核级别 </th>
										  <th column="CHECK_USER_NAME" class="sorting" ng-click="order($event.target)">审核老师 </th>
										  <th column="CHECK_FLAG" class="sorting" ng-click="order($event.target)">审核结果 </th>
										  <th column="CHECK_OPINION" class="sorting" ng-click="order($event.target)">审核意见</th>
										  <th column="CHECK_DATE" class="sorting" ng-click="order($event.target)">审核时间 </th>
										 
									</tr>
								  </thead>
								  <tbody >		
									<tr ng-repeat='data in checkInfoList'>
										<td ng-switch on="data.CHECK_LEVEL">
								          	<span ng-switch-when="0">申请书未提交</span>
								          	<span ng-switch-when="1">申请书校级审核</span>
								          	<span ng-switch-when="2">申请书区级初审</span>
								          	<span ng-switch-when="3">申请书专家评审</span>
								          	<span ng-switch-when="4">申请书区级复审</span>
								          	<span ng-switch-when="5">申请书驳回</span>
								          	<span ng-switch-when="6">等待提交开题报告</span>
								          	<span ng-switch-when="7">开题报告校级审核</span>
								          	<span ng-switch-when="8">开题报告区级审核</span>
								          	<span ng-switch-when="9">开题报告驳回</span>
								          	<span ng-switch-when="10">等待提交中期报告</span>
								          	<span ng-switch-when="11">中期报告校级审核</span>
								          	<span ng-switch-when="12">中期报告区级审核</span>
								          	<span ng-switch-when="13">中期报告驳回</span>
								          	<span ng-switch-when="14">等待提交结题报告</span>
								          	<span ng-switch-when="15">结题报告校级审核</span>
								          	<span ng-switch-when="16">结题报告区级审核</span>
								          	<span ng-switch-when="17">结题报告专家评审</span>
								          	<span ng-switch-when="18">结题报告教育局审核</span>
								          	<span ng-switch-when="19">结题报告驳回</span>
								          	<span ng-switch-when="20">教科研完成</span>
								          	<span ng-switch-when="21">变更报告等待提交</span>
								          	<span ng-switch-when="22">变更报告校级审核</span>
								          	<span ng-switch-when="23">变更报告区级审核</span>
								          	<span ng-switch-when="24">变更报告驳回</span>
								          	<span ng-switch-when="25">延期、终止报告等待提交</span>
								          	<span ng-switch-when="26">延期、终止报告校级审核</span>
								          	<span ng-switch-when="27">延期、终止报告区级审核</span>
								          	<span ng-switch-when="28">延期、终止报告驳回</span>
								          	<span ng-switch-when="29">科研终止</span>
							            </td> 
										<td>{{data.CHECK_USER_NAME}}</td>     
										<td ng-switch on="data.CHECK_FLAG">
											<span ng-switch-when="0">未审核</span>
								          	<span ng-switch-when="1">通过</span>
								          	<span ng-switch-when="2">不通过</span>
										</td>
										<td>{{data.CHECK_OPINION}}</td>
										<td>{{data.CHECK_DATE}}</td>     
										     
									</tr>
								  </tbody>
								  <tfoot>
								  </tfoot>
								</table>
							</div>
						</td>
						</tr>
					</tbody>
					
					<tbody >
					<tr>
						<td class="control-label"  align="right">项目名称：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.PROJECT_TITLE"  disabled="true" >
						</td>
						<td class="control-label"  align="right">申请编号：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.APPLY_CODE"  disabled="true" >
						</td>
						
					</tr>
					
					<tr>
						<td class="control-label"  align="right">申报类别：</td>
						<td class="form-group has-feedback" >
						<select class="form-control xbclass"  ng-model="form.PROJECT_TYPE" disabled="true">
							  <option value="">==请选择==</option>
				              <option value="4">个人</option>
				              <option value="5">集体</option>
						</select>
						</td>
						<td class="control-label"  align="right">项目级别：</td>
						<td  class="form-group has-feedback" >
						<select class="form-control xbclass"  ng-model="form.PROJECT_LEVEL" disabled="true">
							  <option value="">==请选择==</option>
				              <option value="1">校级</option>
				              <option value="2">区级</option>
				              <option value="3">市级</option>
						</select>
						</td>
						
					</tr>

					<tr>
						<td class="control-label"  align="right">负责人：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.TEACHER_NAME"  disabled="true" >
						</td>
						<td class="control-label"  align="right">工作单位：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.TEACHER_SCHOOL_NAME"  disabled="true" >
						</td>
					</tr>
					
					<tr>
						<td class="control-label"  align="right">申请经费：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.PRICE"  disabled="true" >
						</td>
						<td class="control-label"  align="right">预期最终成果：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.EXPECT_RESULT"  disabled="true" >
						</td>
					</tr>
					
					<tr>
						<td class="control-label"  align="right">填表日期：</td>
						<td  class="form-group has-feedback" >
						<input type="text" class="form-control datepicker csrq"  ng-model="form.APPLY_DATE"  disabled="true" >
						</td>
						<td class="control-label"  align="right">预计完成时间：</td>
						<td  class="form-group has-feedback" >
						<input type="text" class="form-control datepicker csrq"  ng-model="form.FINISH_DATE" disabled="true" >
						</td>
					</tr>
				</tbody>

				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>一、变更信息</h4>
						</td>
					</tr>
					
					<tr>	
						<td class="control-label" align="right" >变更类别：</td>
						<td class="form-group has-feedback" >
							<select class="form-control xbclass"  ng-model="form.DELAY_SORT" disabled="true" ng-change=delayChange();>
								<option value="">--请选择--</option>
								<option value="1">终止</option>
								<option value="2">延期</option>
							</select>
					   </td>
					   <td class="control-label" align="right" ></td>
						<td class="form-group has-feedback" >	
						  
						</td>	
					</tr>
					<tr id="break" style="display:none;">	
						<td class="control-label" align="right" >科研中止原因：</td>
						<td >
				              <input type="checkbox" name="discontinue" value="1" id="break1" disabled="true"/>负责人变动&nbsp;&nbsp;
				              <input type="checkbox" name="discontinue" value="2" id="break2" disabled="true"/>方案变动&nbsp;&nbsp;
				              <input type="checkbox" name="discontinue" value="3" id="break3" disabled="true"/>主要成员变动&nbsp;&nbsp;
				              <input type="checkbox" name="discontinue" value="4" id="break4" disabled="true"/>经费问题
					          <input type="checkbox" name="discontinue" value="5" id="break5" disabled="true"/>其它
			             </td>
						<td class="control-label" align="right" ></td>
						<td class="form-group has-feedback" >
						</td>
					</tr>		
					
					<tr id="delay" style="display:none;">
						<td class="control-label" align="right" >科研延期原因：</td>
						<td >
				              <input type="checkbox" name="extension" value="1" id="delay1" disabled="true"/>负责人工作调动&nbsp;&nbsp;
				              <input type="checkbox" name="extension" value="2" id="delay2" disabled="true"/>学校（园）工作调整&nbsp;&nbsp;
				              <input type="checkbox" name="extension" value="3" id="delay3" disabled="true"/>经费问题&nbsp;&nbsp;
				              <input type="checkbox" name="extension" value="4" id="delay4" disabled="true"/>其它
			             </td>
						<td class="control-label" align="right" >项目延期至：</td>	
						<td class="form-group has-feedback" >
							<input type="text" class="form-control datepicker csrq" ng-model="form.DELAY_DATE"  disabled="true">
						</td>
					</tr>
				</tbody>
				
				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>二、主要研究内容及研究进展情况</h4>
						</td>
					</tr>
					<tr>
						<td colspan="4">			
						<div>
							<textarea style="border: 1px solid;border-color: black;font-size:15px;  "  cols="115" ng-model="form.PROGRESS_ITUATION" rows="50" disabled="true">
							
							</textarea>
						</div>
						</td>
					</tr>
				</tbody>
				</table>
			</td>
		</tr>
	</table>

  </div>
</div>


</form>

