<style>
.cancelBorder:before{
	width:0;
}
.hide-input{
	float: left;
	position: relative;
	margin-right: 9px;
	margin-bottom: 9px;
	width: 77px;
	height: 77px;
}
/* .weui-picker-modal .picker-item {
	text-align:center;
}

.weui-picker-modal .picker-items-col{
	width:33%
}
 */
.weui_uploader_files li{
	 	width:79px;
	 	float:left;
	 	margin-bottom:9px;
	 	margin-right: 39px;
	}
	.border_left:before{
		left:5px;
	}
	.cancelBorder:before{
	width:0;
	}
	.cancelBorderBottom:after{
	width:0;
	}
	.cancelPadding{
		padding:0
	}
	.weui_uploader_status_content:before {
	    content: " ";
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}
	.weui_uploader_status_content {
	    position: absolute;
	    top: 38%;
	    left: 39%;
	    -webkit-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%);
	    color: #fff;
	}
	.weui_uploader_status_content1:before {
	    content: " ";
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}
	.weui_uploader_status_content1 {
	    position: absolute;
	    top: 38%;
	    left: 71%;
	    -webkit-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%);
	    color: #fff;
	}
</style>
   <div class="weui-header" style="background-color:#FFFFFF">
		<div class="weui-header-left">
			<a class="icon icon-109"  ng-click="toHref('SystemSetup/ActivityDraw/CardVoucher_Setting')"></a>
		</div>
		<h1 class="weui-header-title weui-header-self">{{pageTitle}}</h1>
		<!-- <div class="weui-header-right" style="top: 0;">
			<div class="button_sp_area">
				<div class="bom-radio" id="attend2" ng-click="doSave()">保存</div>
			</div>
		</div> -->
		<div class="weui-header-right" style="top: 0;right:95px">
			<div class="button_sp_area" style="padding: 12px 0;">
				<div class="bom-radio" style="width:80px"  ng-click="toHref('SystemSetup/ActivityDraw/CardVoucher_Setting/winningRecord')">中奖记录</div>
			</div>
		</div>
		<div class="weui-header-right" style="top: 0;">
			<div class="button_sp_area" style="padding: 12px 0;">
				<div class="bom-radio"   ng-click="doSave()">保存</div>
			</div>
		</div>
	</div>
	 <div class="weui_cells weui_cells_form" style="margin-top:0" id="form" ng-show="pageShow">
             <div class="weui_cell userLimitCell">
                <div class="weui_cell_hd"><label class="weui_label label tablessetting-label">可领取数量</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input label-input" type="text"    ng-model="form.get_limit"/>
                </div>
                <i class="weui_icon_warn userLimitIcon"></i>
            </div>
            
            <div class="weui_cell dcxt_active">
			<div class="weui_cell_hd">
				<label class="weui_label label tablessetting-label">是否启用</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<div class="weui-form">
					<div class="weui-form-li iblock li-checkbox-self" style="margin-left:10%">
						<input class="weui-form-checkbox" name="f2" id="g1" value="1"
							type="radio" ng-model="form.IS_USE"> <label
							for="g1"> <i class="weui-icon-radio icon-checkbox-self"
							style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>启用</p>
							</div>
						</label>
					</div>
					<div class="weui-form-li iblock li-checkbox-self"
						style="margin-left: 10%;">
						<input class="weui-form-checkbox" name="f2" id="g2" value="0"
							type="radio" ng-model="form.IS_USE"> <label
							for="g2"> <i class="weui-icon-radio icon-checkbox-self"
							style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>禁用</p>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="weui_cell dcxt_active">
		<div class="weui_cell_hd">
				<label class="weui_label label tablessetting-label">是否可分享</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<div class="weui-form">
					<div class="weui-form-li iblock li-checkbox-self" style="margin-left:10%">
						<input class="weui-form-checkbox" name="f30" id="g31" value="true"
							type="radio" ng-model="form.can_share"> <label
							for="g31"> <i class="weui-icon-radio icon-checkbox-self"
							style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>是</p>
							</div>
						</label>
					</div>
					<div class="weui-form-li iblock li-checkbox-self"
						style="margin-left: 10%;">
						<input class="weui-form-checkbox" name="f30" id="g32" value="false"
							type="radio" ng-model="form.can_share"> <label
							for="g32"> <i class="weui-icon-radio icon-checkbox-self"
							style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>否</p>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="weui_cell self_select">
			<div class="weui_cell_hd">
				<label class="weui_label label">CODE码</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary" style="margin-left: 35px">
				<input class="weui_input label-input" id="codeType_select" type="text"
					value="" readonly ng-model="form.code_type">
			</div>
		</div>
		<div class="weui_cell dcxt_active" ng-show="yxQX">
               	<div class="weui_cell_hd">
					<label class="weui_label label tablessetting-label">有效期限</label>
				</div>
               	<div class="weui_cell_bd weui_cell_primary">
					 <input class="weui_input label-input" type="text" value="期间" readonly/>
				</div>
         </div>
         <div class="weui_cell  border_left" style="padding-left:20px;padding-top:5px;" ng-show="yjShow">
			<div class="weui_cells cancelBorder cancelBorderBottom tablessetting-font-style"">
				<div class="weui_cell cancelBorder cancelPadding">
					 <div class="weui_cell_hd expiryCell">
						<label class="weui_label label">期间</label>
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<input class="weui_input" id="start_time" style="float: left;width:30%" type="text" ng-model="form.begin_time"  readonly value="" />
						  <i class="weui_icon_warn expiryIcon" style="display:none;float: left;"></i>
						<div style="float:left;width:5%;padding-left:3%">——</div>
						<input class="weui_input" id="end_time" style="float: left;width:30%;padding-left: 30px;" ng-model="form.end_time " readonly type="text" value="" />	
						<i class="weui_icon_warn expiryEndIcon" style="display:none"></i>
					</div>
				</div>
			</div>
		</div>
          <div class="weui_cell dcxt_active">
			<div class="weui_cell_hd">
				<label class="weui_label label tablessetting-label">共享类型</label>
			</div>
			<div class="weui_cell_bd">
				<div class="weui-form">
					<div class="weui-form-li iblock li-checkbox-self" style="margin-left: 0;">
						<input class="weui-form-checkbox" name="f5" id="g12" value="true"
							type="radio" ng-model="form.SHARE_TYPE"> 
							<label for="g12"> <i class="weui-icon-radio icon-checkbox-self" style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>朋友券</p>
							</div>
						</label>
					</div>
					<div class="weui-form-li iblock li-checkbox-self" style="margin-left: 10px;">
						<input class="weui-form-checkbox" name="f5" id="g13" value="false"
							type="radio" ng-model="form.SHARE_TYPE"> 
							<label for="g13"> <i class="weui-icon-radio icon-checkbox-self" style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>普通券</p>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="weui_cell shopCell">
                <div class="weui_cell_hd"><label for="" class="weui_label label tablessetting-label">适用门店:</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input label tablessetting-label" type="text" value="" ng-model="form.SHOP_NAME" placeholder="请选择适用门店" id='d3'/>
                </div>
                 <i class="weui_icon_warn shopIcon" style="display:none;float: left;"></i>
        </div> 
		 <div class="weui_cell" style="top:20px">
			<div class="weui_cell_hd">
				<label class="weui_label label tablessetting-label">形象图片</label>
			</div>
            <div class="weui_uploader_bd weui_cell_primary">
            	<ul class="weui_uploader_files" id="img2x">
            		 <li>
		            	<div class="weui_uploader_file" style="background-image:url({{IMG_LOGO[0]}})">
			            	<div class="hide-input {{IMG_LOGO == null || IMG_LOGO == ''?'weui_uploader_input_wrp':''}}">
				                <input class="weui_uploader_input" type="file" onchange="previewImage(this)" accept="image/jpg,image/jpeg,image/png" id="i1" >
			             	</div>
			             	 <div class="weui_uploader_status_content">
                                        <i class="weui_icon_warn logoIcon"></i>
                         	 </div>
		            	</div>
		            	<div class="tablessetting-gray-font logoCell" style="font-size:13px;text-align:center;width:77px;">店铺LOGO</div>
		            </li>
            	</ul>
            </div>
		</div>
		<div class="weui_cell cancelBorder"  style="flex-wrap:wrap;background-color:#F8F8F8;top:20px">
		<div class="weui_cell_hd">
				<label class="weui_label label  tablessetting-label">使用提醒</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
			<label style="font-size:13px;color:#888;">(16字以内)</label>
			</div>
		</div>
		<div class="weui_cell no-broder">
	    	<div class="weui_cell_bd weui_cell_primary">
	        	<textarea style="padding:0 12px;" id="textarea" class="weui_textarea" rows="2" ng-model="form.notice"></textarea>
	        	<div class="weui_textarea_counter"><span id="count">{{form.notice.length}}</span>/<span id="count_max">16</span></div>
	    	</div>
		</div>
	
		<div class="weui_cell cancelBorder"  style="flex-wrap:wrap;background-color:#F8F8F8;">
			<div class="weui_cell_hd">
				<label class="weui_label label  tablessetting-label">使用说明</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<label style="font-size:13px;color:#888;">(1000字以内)</label>
			</div>
		</div>
		<div class="weui_cell no-broder">
	         <div class="weui_cell_bd weui_cell_primary">
	            <textarea style="padding:0 12px;" id="textarea" class="weui_textarea" rows="3" ng-model="form.description"></textarea>
	                <div class="weui_textarea_counter"><span id="count">{{form.description.length}}</span>/<span id="count_max">1000</span></div>
	         </div>
	     </div>
		<div class="weui_cell" style="height:44px;margin-top:4%;padding:0">
                <div class="weui_cell_hd"><label class="weui_label" style="font-size: 14px;width: 125px;text-align: center;">选择卡券颜色</label></div>
                <div class="weui_cell_bd" style="margin-left:40%;background-color:{{form.confirmColor}};width:10%;height:30%">
                </div>
         </div>
	     <div class="weui_cell test">
				<div class="weui_cell_bd" style="width: 5%;height: 18px;margin-left:2%" ng-repeat="item in colorArray" ng-click="selectColor(this)">
					<div  style="margin-left: 1%;width: 100%;height:100%;background-color:{{item.colorNumber}}" user-attr="{{item.colorName}}">
					</div>
					<!-- <i class="icon-caret-up" class="singleColor" style="margin-left:15%"></i> -->
                </div>
		 </div></div>
	<div class="weui-loadmore" ng-hide="pageShow">
		<i class="weui-loading"></i>
		<span class="weui-loadmore-tips">正在加载</span>
	</div>
	
