<form class="form-horizontal form-horizontal-condensed" >

<div class="panel panel-default" >
  <div class="panel-body" style="min-height: 680px;padding: 30px;width: 100%"  >
	<table align="center"  style="width: 80%">		
		<tr>
			<td valign="top" >
				<table class="table-striped table-from-big"  style="width: 100%">
					<tbody>
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
							<span style="color: red;">请上传附件文件(WORD、PPT、PDF)</span>
							</td>
						</tr>
						
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
							<input type="file" name="uploadifyfile" id="uploadifyfile" />
							</td>
						</tr>
						
						<tr>
							<td colspan="4" align="center" style="padding-top: 25px;">
							<span class="uploadfile" style=""></span>&nbsp;<span class="uploadresult" style="color: red; display:none;" >上传成功</span>
							</td>
						</tr>
					</tbody>
					
					<tbody >
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> 松江区教育科学研究项目变更登记表</h4>
						</td>
					</tr>
					<tr>
						<td class="control-label"  align="right">项目名称：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.PROJECT_TITLE" not-null="yes">
						</td>
						<td class="control-label"  align="right">负责人：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.TEACHER_NAME" not-null="yes">
						</td>
					</tr>
					
					<tr>
						<td class="control-label"  align="right">工作单位：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.TEACHER_SCHOOL_NAME" not-null="yes">
						</td>
						<td class="control-label"  align="right">预期最终成果：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.EXPECT_RESULT"  not-null="yes">
						</td>
					</tr>
					
					<tr>	
						<td class="control-label" align="right" >科研变更内容：</td>
						<td colspan="3">
				            <input type="checkbox" name="content" value="1" id="content1"/>负责人&nbsp;&nbsp;
				            <input type="checkbox" name="content" value="2" id="content2"/>课题&nbsp;&nbsp;
				            <input type="checkbox" name="content" value="3" id="content3"/>主要成员&nbsp;&nbsp;
				            <input type="checkbox" name="content" value="4" id="content4"/>研究方案&nbsp;&nbsp;
					        <input type="checkbox" name="content" value="5" id="content5"/>研究内容&nbsp;&nbsp;
					        <input type="checkbox" name="content" value="6" id="content6"/>成果形式&nbsp;&nbsp;
					        <input type="checkbox" name="content" value="7" id="content7"/>其它
			             </td>
					</tr>		
					
					<tr>
						<td class="control-label" align="right" >科研变更原因：</td>
						<td colspan="3">
				            <input type="checkbox" name="reason" value="1" id="reason1"/>负责人工作调动&nbsp;&nbsp;
				            <input type="checkbox" name="reason" value="2" id="reason2"/>学校（园）工作调整&nbsp;&nbsp;
				            <input type="checkbox" name="reason" value="3" id="reason3"/>其它
			             </td>
					</tr>
					
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>一、数据表</h4>
						</td>
					</tr>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h5>负责人基本信息</h5>
						</td>
					</tr>
						<tr>	
						<td class="control-label" align="right" >是否变更负责人：</td>
						<td class="form-group has-feedback" >
							<span>
							 <input type="radio" name="fzrChange"  value="2"  ng-click="fzrChange(2)"/>是</span>
                 			 <span>
                 			 <input type="radio"  name="fzrChange"  value="1"  ng-click="fzrChange(1)"  checked/>否
                 			</span>
					   </td>
					   <td class="control-label" align="right" ></td>
						<td class="form-group has-feedback" >	  
					   </td>	
					</tr>
					
					<tr id="schoolInfo" style="display:none;">	
						<td class="control-label" align="right" >学校类别：</td>
						<td class="form-group has-feedback" >
						<select class="form-control xbclass"  ng-model="form.TYPE_PK" ng-options="schoolType.SCHOOL_TYPE_PK as schoolType.SCHOOL_NAME for schoolType in schoolTypeList" ng-change="typeChange()">
								<option value="">--请选择--</option>
						</select>
						</td>
						<td class="control-label" align="right" >学校名称：</td>
						<td class="form-group has-feedback" >
							<select class="form-control xbclass"  ng-model="form.SCHOOL_PK" ng-options="unit.UNIT_PK as unit.UNIT_NAME for unit in schoolList" ng-change="unitChange()">
								<option value="">--请选择--</option>
							</select>
					   </td>
					</tr>
					
					<tr>
						<td class="control-label"  align="right">姓名：</td>
						<td class="form-group has-feedback" >
						<div id="name">
							<input class="form-control" type="text" ng-model="form.TEACHER_NAME"  maxlength="20" not-null="yes">
						</div>
						
						<div id="userPk" style="display:none;">
							<select class="form-control xbclass"  ng-model="form.USER_PK" ng-options="user.USER_PK as user.USER_SN for user in userList"  ng-change="fzrInfo()">
								<option value="">--请选择--</option>
						   </select>
						</div>
						</td>
						<td class="control-label" align="right" >性别：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.TEACHER_GENDER"  maxlength="20" not-null="yes">
						</td>
					</tr>

					<tr>	
						<td class="control-label" align="right" >职称：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.TEACHER_JOB_TITLE"  maxlength="20">
						</td>
						<td class="control-label" align="right" >职务：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.TEACHER_JOB"  maxlength="20" >
						</td>
					</tr>

					<tr>		
						<td class="control-label" align="right" >研究专长：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.TEACHER_SKILL"  maxlength="20">
						</td>
						<td class="control-label" align="right" width="140px">身份证号：</td>
						<td class="form-group has-feedback" >
						<input class="form-control" type="text" ng-model="form.TEACHER_IDCARD"  maxlength="20" not-null="yes">
						</td>
					</tr>

					<tr>		
						<td class="control-label" align="right" >单位电话：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.TEACHER_SCHOOL_TEL"  maxlength="20">
						</td>
						<td class="control-label" align="right" >家庭电话：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.TEACHER_HOME_TEL"  maxlength="20">
						</td>
					</tr>

					<tr>
							
						<td class="control-label" align="right" >移动电话：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.TEACHER_TEL"  maxlength="20">
						</td>
						<td class="control-label" align="right" >电子信箱：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.TEACHER_EMAIL"  maxlength="20">
						</td>
					</tr>
					
					<tr>
							
						<td class="control-label" align="right" >工作单位：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.TEACHER_SCHOOL_NAME"  maxlength="20" not-null="yes">
						</td>
						<td class="control-label" align="right" >邮政编码：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.TEACHER_SCHOOL_POSTAL"  maxlength="20">
						</td>
					</tr>
					<tr>		
						<td class="control-label" align="right" >单位地址：</td>
						<td class="form-group has-feedback" colspan="3"><input class="form-control" type="text" ng-model="form.TEACHER_SCHOOL_ADDRESS"  maxlength="20" not-null="yes">
						</td>
					</tr>

				</tbody>

				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h5>课题组主要成员</h5>
						</td>
					</tr>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
						<h5>查询松江区系统内教师</h5>
						</td>
					</tr>
					<tr>	
						<td class="control-label" align="right" >学校类别：</td>
						<td class="form-group has-feedback" >
						<select class="form-control xbclass"  ng-model="form.SCHOOL_TYPE_PK" ng-options="schoolType.SCHOOL_TYPE_PK as schoolType.SCHOOL_NAME for schoolType in schoolTypeList" ng-change="schoolChange()">
								<option value="">--请选择--</option>
						</select>
						</td>
						<td class="control-label" align="right" >学校名称：</td>
						<td class="form-group has-feedback" >
							<select class="form-control xbclass"  ng-model="form.UNIT_PK" ng-options="unit.UNIT_PK as unit.UNIT_NAME for unit in unitList" ng-change="teacherChange()">
								<option value="">--请选择--</option>
							</select>
					   </td>
					</tr>
					
					<tr>
							
						<td class="control-label" align="right" >教师姓名：</td>
						<td class="form-group has-feedback" >
							<select class="form-control xbclass"  ng-model="form.TEACHER_PK" ng-options="teacher.USER_PK as teacher.USER_SN for teacher in teacherList"  ng-change="teacherInfo()">
								<option value="">--请选择--</option>
							</select>
						</td>
						<td class="control-label" align="right" ></td>
						<td class="form-group has-feedback" >
						</td>
					</tr>
					
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
						<h5>教师基本信息</h5>
						</td>
					</tr>
					
					<tr>
						<td class="control-label"  align="right">姓名：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.NAME"  maxlength="20" >
						</td>
						<td class="control-label" align="right" >性别：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.GENDER"  maxlength="20" >
						</td>
					</tr>


					<tr>
						
						<td class="control-label" align="right" >学历：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.TEACHER_EDUCATION"  maxlength="20" >
						</td>
						<td class="control-label" align="right" >学位：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.TEACHER_DEGREE"  maxlength="20" >
						</td>
					</tr>

					<tr>
						
						<td class="control-label" align="right" >出生年月：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.BORN"  maxlength="20" >
						</td>
						<td class="control-label" align="right" >职务：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.JOB_TITLE"  maxlength="20" >
						</td>
					</tr>
					
					<tr>
							
						<td class="control-label" align="right" >研究专长：</td>
						<td class="form-group has-feedback"  colspan="3" >
						<input class="form-control" type="text" ng-model="form.SPECIALTY"  maxlength="20" >
						</td>
						
					</tr>
					<tr>
							
						<td class="control-label" align="right" >工作单位：</td>
						<td class="form-group has-feedback" colspan="3" >
						<input class="form-control" type="text" ng-model="form.SCHOOL_NAME"  maxlength="20" >
						</td>
					</tr>

					<tr>
						<td colspan="4" align="center" style="padding-top: 20px;"><a ng-click="addMember()"><span class="glyphicon glyphicon-plus-sign"></span> 添加</a></td>
					</tr>
					
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>已添加课题组成员</h4>
						</td>
					</tr>
					
					<tr>
					<td colspan="4" style="width: 100%">
						<div class="panel-body">
							<h5></h5>
							<table class="table table-hover table-striped table-bordered ">  
							  <thead>
								<tr>
									  <th column="TEACHER_NAME" class="sorting" ng-click="order($event.target)">姓名 </th>
									  <th column="TEACHER_GENDER" class="sorting" ng-click="order($event.target)">性别 </th>
									  <th column="TEACHER_EDUCATION" class="sorting" ng-click="order($event.target)">学历 </th>
									  <th column="TEACHER_DEGREE" class="sorting" ng-click="order($event.target)">学位 </th>
									  <th column="BORN" class="sorting" ng-click="order($event.target)">出生年月 </th>
									  <th column="JOB_TITLE" class="sorting" ng-click="order($event.target)">职务 </th>
									  <th column="SPECIALTY" class="sorting" ng-click="order($event.target)">研究专长 </th>
									  <th column="SCHOOL_NAME" class="sorting" ng-click="order($event.target)">工作单位 </th>
									  <th column="" class="sorting" ng-click="order($event.target)"> </th>
								</tr>
							  </thead>
							  <tbody >
								
								<tr ng-repeat='data in newTeacherList'>
									<td>{{data.TEACHER_NAME}} <input type="hidden" value="{{data.TEACHER_PK}}"><input type="hidden" value="{{data.MEMBER_PK}}"></td>     
									<td>{{data.TEACHER_GENDER}}</td>
									<td>{{data.TEACHER_EDUCATION}}</td>     
									<td>{{data.TEACHER_DEGREE}}</td>
									<td>{{data.BORN}}</td>     
									<td>{{data.JOB_TITLE}}</td>
									<td>{{data.SPECIALTY}}</td>     
									<td>{{data.SCHOOL_NAME}}</td>
									<td><a ng-click="removeMember(data)"><span class="glyphicon glyphicon-remove-sign"></span> 移除</a></td>
								</tr>
							  </tbody>
							  <tfoot>
							  </tfoot>
							</table>
						</div>
					
					</td>
					
					</tr>

				</tbody>
				
				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>二、申请人和课题组成员近年取得的与本课题有关的研究成果</h4>
						</td>
					</tr>
				</tbody>
				
				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>三、申请人和课题组成员近年承担的研究课题</h4>
						</td>
					</tr>
					<tr>
						<td class="control-label" align="right" >课题名称：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.PROJECT_NAME"  maxlength="20" >
						</td>
						<td class="control-label" align="right" >课题类型：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.PROJECT_KIND"  maxlength="20" >
						</td>
					</tr>
					
					<tr>
						<td class="control-label" align="right" >立项时间：</td>
						<td class="form-group has-feedback" >
						<input class="form-control datepicker csrq" type="text" ng-model="form.START_DATE"  >
						</td>
						<td class="control-label" align="right" >完成情况：</td>
						<td class="form-group has-feedback" ><input class="form-control" type="text" ng-model="form.COMPLETION"  maxlength="20" >
						</td>
					</tr>
					<tr>
						<td class="control-label" align="right" >批准单位：</td>
						<td colspan="3" class="form-group has-feedback" ><input class="form-control" type="text"ng-model="form.APPROVE_UNIT"  maxlength="20" >
						</td>
					</tr>
					
					<tr>
						<td colspan="4" align="center" style="padding-top: 20px;"><a ng-click="addTask()"><span class="glyphicon glyphicon-plus-sign"></span> 添加</a></td>
					</tr>
					
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>已添加科研课题</h4>
						</td>
					</tr>
					
					<tr>
						<td colspan="4" style="width: 100%">
							<div class="panel-body">
							<h5></h5>
							<table class="table table-hover table-striped table-bordered ">  
							  <thead>
								<tr>
									  <th column="PROJECT_NAME" class="sorting" ng-click="order($event.target)">课题名称 </th>
									  <th column="PROJECT_KIND" class="sorting" ng-click="order($event.target)">课题类型 </th>
									  <th column="START_DATE" class="sorting" ng-click="order($event.target)">立项时间 </th>
									  <th column="COMPLETION" class="sorting" ng-click="order($event.target)">完成情况 </th>
									  <th column="APPROVE_UNIT" class="sorting" ng-click="order($event.target)">批准单位 </th>
									  <th column="" class="sorting" ng-click="order($event.target)"> </th>
								</tr>
							  </thead>
							  <tbody >
								
								<tr ng-repeat='task in newTaskList'>
									<td>{{task.PROJECT_NAME}} <input type="hidden" value="{{task.INDEX}}"></td>     
									<td>{{task.PROJECT_KIND}}</td>
									<td>{{task.START_DATE}}</td>     
									<td>{{task.COMPLETION}}</td>
									<td>{{task.APPROVE_UNIT}}</td>     
									<td><a ng-click="removeTask(task.INDEX)"><span class="glyphicon glyphicon-plus-sign"></span> 移除</a></td>
								</tr>
							  </tbody>
							  <tfoot>
							  </tfoot>
							</table>
						</div>

						</td>
					
					</tr>
	
				</tbody>
				
				
				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>四、预期研究成果</h4>
						</td>
					</tr>
					<tr>
						<td class="control-label" align="right" >承担人：</td>
						<td class="form-group has-feedback" >
							<select class="form-control xbclass" ng-model="form.TEACHER_ID" ng-options="teacher.TEACHER_ID as teacher.TEACHER_NAME for teacher in peopleList" >
								<option value="">--请选择--</option>
							</select>
						</td>
						<td class="control-label" align="right" ></td>
						<td class="form-group has-feedback" >
						</td>
					</tr>
					
					<tr>
						<td class="control-label" align="right" >研究阶段开始时间：</td>
						<td class="form-group has-feedback" >
						<input class="form-control datepicker csrq"  ng-model="form.STAGE_START_TIME" type="text" >
						</td>
						<td class="control-label" align="right" >研究阶段结束时间：</td>
						<td class="form-group has-feedback" >
						<input class="form-control datepicker csrq"  ng-model="form.STAGE_END_TIME" type="text" >
						</td>
					</tr>
					<tr>
						<td class="control-label" align="right" >成果形式：</td>
						<td colspan="3" class="form-group has-feedback" >
						<input class="form-control" type="text"ng-model="form.RESULT_FORM"  maxlength="20" >
						</td>
					</tr>
					<tr>
						<td class="control-label" align="right" >阶段成果名称：</td>
						<td colspan="3" class="form-group has-feedback" >
						<input class="form-control" type="text"ng-model="form.RESULT_STAGE_NAME"  maxlength="20" >
						</td>
					</tr>
					
					<tr>
						<td colspan="4" align="center" style="padding-top: 20px;"><a ng-click="addResult()"><span class="glyphicon glyphicon-plus-sign"></span> 添加</a></td>
					</tr>
					
					
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>已添加预期成果</h4>
						</td>
					</tr>
					
					<tr>
						<td colspan="4" style="width: 100%">
							<div class="panel-body">
							<h5></h5>
							<table class="table table-hover table-striped table-bordered ">  
							  <thead>
								<tr>
									  <th column="USER_NAME" class="sorting" ng-click="order($event.target)">承担人 </th>
									  <th column="SCHOOL_NAME" class="sorting" ng-click="order($event.target)">研究阶段（起止时间） </th>
									  <th column="USER_NAME" class="sorting" ng-click="order($event.target)">成果形式 </th>
									  <th column="SCHOOL_NAME" class="sorting" ng-click="order($event.target)">阶段成果名称 </th>
									  <th column="SCHOOL_NAME" class="sorting" ng-click="order($event.target)"> </th>
								</tr>
							  </thead>
							  <tbody >
								
								<tr ng-repeat='data in newResultList'>
									<td>{{data.PEOPLE}}<input type="hidden" value="{{data.INDEX}}"></td>     
									<td>{{data.STAGE_START_TIME}}至{{data.STAGE_END_TIME}}</td>
									<td>{{data.RESULT_FORM}}</td>     
									<td>{{data.RESULT_STAGE_NAME}}</td> 
									<td><a ng-click="removeResult(data.INDEX)"><span class="glyphicon glyphicon-plus-sign"></span> 移除</a></td>
								</tr>
							  </tbody>
							  <tfoot>
							  </tfoot>
							</table>
						</div>
						</td>
					</tr>
				</tbody>
				
				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>五、研究方案</h4>
						</td>
					</tr>
					<tr>
						<td colspan="4">			
						<div id="design_argument" name="design_argument" type="text/plain" style="width:100%;height:480px;">
						</div>
						</td>
					</tr>

				</tbody>
				
				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>六、研究方案(匿名)</h4>
						</td>
					</tr>
					<tr>
						<td colspan="4">			
						<div id="plans" name="plans" type="text/plain" style="width:100%;height:480px;">
						</div>
						</td>
					</tr>
				</tbody>
				
					<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>七、文献综述</h4>
						</td>
					</tr>
					<tr>
						<td colspan="4">			
						<div id="basis_theory" name="basis_theory" type="text/plain" style="width:100%;height:480px;">
						</div>
						</td>
					</tr>			
				</tbody>
				
				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4>八、文献综述(匿名)</h4>
						</td>
					</tr>
					<tr>
						<td colspan="4">			
						<div id="information_review" name="information_review" type="text/plain" style="width:100%;height:480px;">
						</div>
						</td>
					</tr>			
				</tbody>
				
				<tbody>
					<tr>
						<td colspan="4" align="center" style="padding-top: 25px;">
							<h4><h4>九、完成项目的可行性分析</h4></h4>
						</td>
					</tr>
					<tr>
						<td colspan="4">
						<!-- UEditor富文本框 -->			
						<div id="condition" name="condition" type="text/plain" style="width:100%;height:480px;">	
						</div>
						</td>
					</tr>			
				</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" >
				<hr/>
			</td>
		</tr>
		
		<tr>
			<td valign="top" style="text-align: center;">
				<button type="button" class="btn btn-info" ng-click="save();">保存</button>
	      		 &nbsp; 
	      		<button type="button" class="btn btn-default" ng-click="goback();" id="">返回</button>
			</td>
		</tr> 
	</table>

  </div>
</div>


</form>

