<!DOCTYPE html>
<html ng-app="addGoodsApp">
  <head>
    <title>添加商品分类</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!-- head 中 -->
<link rel="stylesheet" href="/dcxt/assets/weui/css/weuix.min.css">
<link rel="stylesheet" href="/dcxt/assets/weui/css/weui.css">
<link rel="stylesheet" href="/dcxt/assets/weui/css/weui2.css">
<link rel="stylesheet" href="/dcxt/assets/weui/css/weui3.css">
<link rel="stylesheet" href="/dcxt/assets/weui/css/icon.css">
<link rel="stylesheet" href="/dcxt/assets/weui/css/other.css">
<link rel="stylesheet"
	href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
<link rel="stylesheet" href="add_product_type.css"/>
  <body ontouchstart ng-controller="addGoodsCtrl" style="background-color:#FFFFFF"> 
   <div class="weui-header">
		<div class="weui-header-left">
			<a class="icon icon-109" style="color: #0D0D0D !important;"></a>
		</div>
		<h1 class="weui-header-title weui-header-self">{{pageTitle}}</h1>
		<div class="weui-header-right" style="top: 0;">
			<div class="button_sp_area">
				<div class="bom-radio" id="attend2">保存</div>
			</div>
		</div>
	</div>
    <div class="weui_cells weui_cells_form" style="margin-top:0;">
        <div class="weui_cell" style="margin-top:10px">
          <div class="weui_cell_hd"><label class="weui_label label">分类名称</label></div>
            <div class="weui_cell_bd">
            <input class="weui_input label-input" type="text" ng-model="form.TYPE_NAME"  placeholder="荤菜">
          </div>
        </div>
        <div class="weui_cell">
          <!-- <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label label">选择分类</label></div>
            <div class="weui_cell_bd">
                 <select class="selectType label-input" name="select2" ng-model="form.SELECT_TYPE">
                    <option class="label-input" ng-repeat="item in select_type" value="{{item.value}}">{{item.title}}</option>
                  </select>
            </div>
          </div> -->
          <div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label label">选择分类</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<input class="weui_input label-input" id="fs_select" type="text"
					value="">
				<!-- <div class="weui-count">
					<a class="weui-count__btn weui-count__decrease"
						ng-click="fsDoReduce()"></a> <input class="weui-count__number"
						ng-model="form.PRINTER_PAGE_NUMS" type="number"
						style="width: 1.5rem;" pattern="[0-9]*" ng-blur="fsReduceNum()" />
					<a class="weui-count__btn weui-count__increase"
						ng-click="fsDoAdd()"></a>
				</div> -->
			</div>
		</div>
          <div class="weui_cell order_cell">
            <div class="weui_cell_hd"><label class="weui_label label">排序序号</label></div>
            <div class="weui_cell_bd">
                <input class="weui_input label-input" type="text"  placeholder="1">
            </div>
          </div>
        </div>
       <div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label label">是否启用</label>
			</div>
			<div class="weui_cell_bd">
				<div class="weui-form">
					<div class="weui-form-li iblock li-checkbox-self" style="margin-left: 0;">
						<input class="weui-form-checkbox" name="f2" id="g1" value="1"
							type="radio" ng-model="form.IS_START"> 
							<label for="g1"> <i class="weui-icon-radio icon-checkbox-self" style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>是</p>
							</div>
						</label>
					</div>
					<div class="weui-form-li iblock li-checkbox-self" style="margin-left: 10px;">
						<input class="weui-form-checkbox" name="f2" id="g2" value="0"
							type="radio" ng-model="form.IS_START"> 
							<label for="g2"> <i class="weui-icon-radio icon-checkbox-self" style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0;">
								<p>否</p>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div>
        <div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label label">显示范围</label>
			</div>
			<div class="weui_cell_bd">
				<div class="weui-form">
					<div class="weui-form-li iblock li-checkbox-self" style="margin-left: 10px;"
						ng-repeat="item in show_area">
						<input class="weui-form-checkbox" name="f3" id="h{{$index + 1}}"
							value="{{item.value}}" type="checkbox"  ng-model="item.checked"> 
							<label for="h{{$index + 1}}"> <i class="weui-icon-checkbox icon-checkbox-self"
							style="margin: 0;"></i>
							<div class="weui-form-text label-input" style="margin: 0">
								<p>{{item.name}}</p>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div>
        <div class="weui_cell">
          <div class="weui_cell_hd"><label class="weui_label label">分类备注</label></div>
            <div class="weui_cell_bd">
            <input class="weui_input label-input" type="text"  placeholder="填写备注信息">
          </div>
        </div>
    </div>
   <!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script
	src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script type="text/javascript"
	src="https://cdn.sjedu.cn/js/angular/1.2.0/angular.min.js"></script>
<script type="text/javascript" src="add_product_type.js"></script>
<script type="text/javascript" src="/dcxt/assets/weui/js/other.js"></script>
  </body>
</html>
