
.selectType{
    border: 0;
    outline: 0;
    background-color: transparent;
    width: -10%;
    font-size: inherit;
    height: 45px;
    line-height: 45px;
    position: relative;
    z-index: 1;
    padding-left: 15px;
}
.order_cell:before{
	border:0;
}
.typeLabel{
	width:75px;
}