.left_top{margin-top: 15px;margin-left: 10%}
* {
	touch-action: none;
}
.left_icon:after {
    content:"\008B";
    font-size: 23px;
    font-style: normal;
}
.add_icon:after {
    content:"\271A";
    font-size: 23px;
    font-style: normal;
}
.update_icon:after {
    content:"\270E";
    font-size: 23px;
    font-style: normal;
}
hr{width: 100%;size: 0.5px;margin:15px 0px 15px 0px}
.add-btn{
	line-height: 1.7;
	overflow: visible;
	margin-top: 8px;
    margin-left: 40%;
}
.order{
	margin-right: 5%;
}
.hd{
	display: none;
}
.tdwm{
	width: 80%;
}
.type_list_bd{
	float:left;
	width:16%;
}